<div class="guideline-page">

    <h1 >商户上传使用说明</h1>

    <img width="1000" src='appversion/res/images/content/guideline.jpg'>

    <h3>Content type 翻译</h3>
    <table>
        <tbody>
        <tr>
            <td>
                <strong>模型类型</strong>
            </td>
            <td>
                <strong>中文翻译</strong>
            </td>
        </tr>
        <tr>
            <td>100 - rug</td>
            <td>地毯类（通用）</td>
        </tr>
        <tr>
            <td>200 - on the floor</td>
            <td>地面摆放的模型（通用）</td>
        </tr>
        <tr>
            <td>300 - on top of others</td>
            <td>置放在其他产品上的模型（通用） </td>
        </tr>
        <tr>
            <td>400 - attach to wall</td>
            <td>挂于墙上的模型（通用）</td>
        </tr>
        <tr>
            <td>500 - attach to ceiling</td>
            <td>吸顶类模型（通用）</td>
        </tr>
        <tr>
            <td>accessory/accessory - ceiling-attached</td>
            <td>摆件/吸顶类摆件</td>
        </tr>
        <tr>
            <td>accessory/accessory - floor-based</td>
            <td>摆件/地面摆放类摆件</td>
        </tr>
        <tr>
            <td>accessory/accessory - on top of others</td>
            <td>摆件/置放在其他产品上的摆件</td>
        </tr>
        <tr>
            <td>accessory/accessory - wall-attached</td>
            <td>摆件/挂墙类摆件</td>
        </tr>
        <tr>
            <td>accessory/pillow</td>
            <td>摆件/靠枕</td>
        </tr>
        <tr>
            <td>appliance/appliance - floor-based</td>
            <td>家电/地面摆放类家电</td>
        </tr>
        <tr>
            <td>appliance/appliance - on top of others</td>
            <td>家电/置放在其他产品上的家电</td>
        </tr>
        <tr>
            <td>appliance/appliance - wall-attached</td>
            <td>家电/吸顶类摆件</td>
        </tr>
        <tr>
            <td>appliance/range &amp; cooktop</td>
            <td>家电/灶台</td>
        </tr>
        <tr>
            <td>appliance/refrigerator</td>
            <td>家电/冰箱</td>
        </tr>
        <tr>
            <td>appliance/ventilation - ceiling-attached</td>
            <td>家电/吸顶类吸油烟机</td>
        </tr>
        <tr>
            <td>appliance/ventilation - wall-attached</td>
            <td>家电/吸墙类吸油烟机</td>
        </tr>
        <tr>
            <td>appliance/water heater - electrical</td>
            <td>家电/电热水器</td>
        </tr>
        <tr>
            <td>appliance/water heater - gas</td>
            <td>家电/燃气热水器</td>
        </tr>
        <tr>
            <td>art/wall-attached art</td>
            <td>装饰画/挂墙装饰画</td>
        </tr>
        <tr>
            <td>attachment/countertop</td>
            <td>附件/台面</td>
        </tr>
        <tr>
            <td>attachment/taps</td>
            <td>附件/水龙头</td>
        </tr>
        <tr>
            <td>basin/floor-based single basin with cabinet</td>
            <td>台盆/带柜子的单台盆</td>
        </tr>
        <tr>
            <td>basin/floor-based double basin with cabinet</td>
            <td>台盆/带柜子的双台盆</td>
        </tr>
        <tr>
            <td>basin/double basin - on top of others</td>
            <td>台盆/单件台上盆</td>
        </tr>
        <tr>
            <td>basin/single basin - on top of others</td>
            <td>台盆/双件台上盆</td>
        </tr>
        <tr>
            <td>bath/cornered bath</td>
            <td>浴缸/转角浴缸</td>
        </tr>
        <tr>
            <td>bath/drop-in bath</td>
            <td>浴缸/置入型浴缸</td>
        </tr>
        <tr>
            <td>bath/freestanding bath</td>
            <td>浴缸/独立浴缸</td>
        </tr>
        <tr>
            <td>bed/crib</td>
            <td>床/婴儿床</td>
        </tr>
        <tr>
            <td>bed/single bed</td>
            <td>床/单人床</td>
        </tr>
        <tr>
            <td>bed/king-size bed</td>
            <td>床/六尺床</td>
        </tr>
        <tr>
            <td>bed/matress</td>
            <td>床/床垫</td>
        </tr>
        <tr>
            <td>bed/queen-size bed</td>
            <td>床/五尺床</td>
        </tr>
        <tr>
            <td>build element/background wall</td>
            <td>硬装类/背景墙</td>
        </tr>
        <tr>
            <td>build element/baseboad - ceramic</td>
            <td>硬装类/瓷砖踢脚线</td>
        </tr>
        <tr>
            <td>build element/baseboad - wood</td>
            <td>硬装类/木制踢脚线</td>
        </tr>
        <tr>
            <td>build element/beam</td>
            <td>硬装类/梁</td>
        </tr>
        <tr>
            <td>build element/column</td>
            <td>硬装类/柱</td>
        </tr>
        <tr>
            <td>build element/decorative tiles</td>
            <td>硬装类/拼花</td>
        </tr>
        <tr>
            <td>build elements/fireplace</td>
            <td>硬装类/壁炉</td>
        </tr>
        <tr>
            <td>build element/gypsum ceiling</td>
            <td>硬装类/石膏吊顶</td>
        </tr>
        <tr>
            <td>build element/kitchen ceiling</td>
            <td>硬装类/厨卫吊顶</td>
        </tr>
        <tr>
            <td>build element/molding</td>
            <td>硬装类/石膏线</td>
        </tr>
        <tr>
            <td>build element/platform</td>
            <td>硬装类/地台</td>
        </tr>
        <tr>
            <td>build element/railing</td>
            <td>硬装类/围栏</td>
        </tr>
        <tr>
            <td>build element/skylight</td>
            <td>硬装类/天窗</td>
        </tr>
        <tr>
            <td>build element/wall opening</td>
            <td>硬装类/墙洞</td>
        </tr>
        <tr>
            <td>build element/wall upholstery</td>
            <td>硬装类/软包</td>
        </tr>
        <tr>
            <td>cabinet/hutch&amp;buffet</td>
            <td>柜类/餐酒柜</td>
        </tr>
        <tr>
            <td>cabinet/floor-based cabinet</td>
            <td>柜类/置地类柜类</td>
        </tr>
        <tr>
            <td>cabinet/floor-based kitchen cabinet</td>
            <td>柜类/厨房地柜</td>
        </tr>
        <tr>
            <td>cabinet/wall-attached cabinet</td>
            <td>柜类/壁柜</td>
        </tr>
        <tr>
            <td>chair/armchair</td>
            <td>椅类/扶手椅</td>
        </tr>
        <tr>
            <td>chair/bar chair</td>
            <td>椅类/吧椅</td>
        </tr>
        <tr>
            <td>chair/chair</td>
            <td>椅类/椅子</td>
        </tr>
        <tr>
            <td>curtain/curtain</td>
            <td>窗帘/窗帘</td>
        </tr>
        <tr>
            <td>door/double sliding door</td>
            <td>门/双移门</td>
        </tr>
        <tr>
            <td>door/double swing door - asymmetrical</td>
            <td>门/不对称双开门</td>
        </tr>
        <tr>
            <td>door/double swing door - symmetrical</td>
            <td>门/对称双开门</td>
        </tr>
        <tr>
            <td>door/folding door 1-3</td>
            <td>门/折叠门 1-3开</td>
        </tr>
        <tr>
            <td>door/folding door 1-4</td>
            <td>门/折叠门 1-4开</td>
        </tr>
        <tr>
            <td>door/folding door 2-2</td>
            <td>门/折叠门 2-2开</td>
        </tr>
        <tr>
            <td>door/folding door 3</td>
            <td>门/折叠门 3开</td>
        </tr>
        <tr>
            <td>door/folding door 3-3</td>
            <td>门/折叠门 3-3开</td>
        </tr>
        <tr>
            <td>door/quad sliding door</td>
            <td>门/四开移门</td>
        </tr>
        <tr>
            <td>door/single swing door</td>
            <td>门/单开门</td>
        </tr>
        <tr>
            <td>door/triple sliding door</td>
            <td>门/三开移门</td>
        </tr>
        <tr>
            <td>electric/socket strong - air-conditioning outlet</td>
            <td>水电/强电-大功率插座</td>
        </tr>
        <tr>
            <td>electric/distribution box</td>
            <td>水电/配电箱</td>
        </tr>
        <tr>
            <td>electric/socket strong - five-hole socket</td>
            <td>水电/强电-五孔插座</td>
        </tr>
        <tr>
            <td>electric/socket strong - five-hole socket (with switch )</td>
            <td>水电/强电-五孔插座（带开关）</td>
        </tr>
        <tr>
            <td>electric/socket strong - multi-function socket</td>
            <td>水电/多功能插座</td>
        </tr>
        <tr>
            <td>electric/switch - quadruple switch</td>
            <td>水电/四联开关</td>
        </tr>
        <tr>
            <td>electric/switch - single switch</td>
            <td>水电/一联开关</td>
        </tr>
        <tr>
            <td>electric/switch - tandem switch</td>
            <td>水电/两联开关</td>
        </tr>
        <tr>
            <td>electric/socket weak - telephone jack</td>
            <td>水电/弱电-电话接口</td>
        </tr>
        <tr>
            <td>electric/socket weak - telephone jack+network</td>
            <td>水电/弱电-电话+网线接口</td>
        </tr>
        <tr>
            <td>electric/socket strong - three-hole socket</td>
            <td>水电/强电-三孔插座</td>
        </tr>
        <tr>
            <td>electric/socket strong - three-hole socket (with switch )</td>
            <td>水电/强电-三孔插座（带开关）</td>
        </tr>
        <tr>
            <td>electric/switch - triple switch</td>
            <td>水电/三联开关</td>
        </tr>
        <tr>
            <td>electric/socket weak - tv cable</td>
            <td>水电/弱电-有线电视接口</td>
        </tr>
        <tr>
            <td>electric/socket weak - tv cable+network</td>
            <td>水电/弱电-有线电视+网线接口</td>
        </tr>
        <tr>
            <td>electric/socket strong - waterproof socket</td>
            <td>水电/强电-防水插座</td>
        </tr>
        <tr>
            <td>electric/switch - waterproof switch</td>
            <td>水电/强电-防水开关</td>
        </tr>
        <tr>
            <td>electric/weak box</td>
            <td>水电/弱电箱</td>
        </tr>
        <tr>
            <td>electric/switch - yuba switch</td>
            <td>水电/浴霸开关</td>
        </tr>
        <tr>
            <td>electronics/air-conditioner - floor-based</td>
            <td>电器-落地空调</td>
        </tr>
        <tr>
            <td>electronics/air-conditioner - wall-attached</td>
            <td>电器-挂壁空调</td>
        </tr>
        <tr>
            <td>electronics/computer</td>
            <td>电器-电脑</td>
        </tr>
        <tr>
            <td>electronics/TV - on top of others</td>
            <td>电器-带底座电视</td>
        </tr>
        <tr>
            <td>electronics/TV - wall-attached</td>
            <td>电器-挂壁电视</td>
        </tr>
        <tr>
            <td>floor/customized tiles</td>
            <td>地面类/瓷砖拼花</td>
        </tr>
        <tr>
            <td>floor/hardwood flooring</td>
            <td>地面类/木地板</td>
        </tr>
        <tr>
            <td>floor/marble</td>
            <td>地面类/大理石</td>
        </tr>
        <tr>
            <td>floor/mosaic</td>
            <td>地面类/马赛克</td>
        </tr>
        <tr>
            <td>floor/others</td>
            <td>地板类/其他</td>
        </tr>
        <tr>
            <td>floor/parquet</td>
            <td>地板类/地板拼花</td>
        </tr>
        <tr>
            <td>floor/tiles</td>
            <td>地板类/地砖</td>
        </tr>
        <tr>
            <td>laundry/laundry</td>
            <td>盥洗类/洗衣机</td>
        </tr>
        <tr>
            <td>lighting/desk lamp</td>
            <td>灯类/台灯</td>
        </tr>
        <tr>
            <td>lighting/floor lamp</td>
            <td>灯类/落地灯</td>
        </tr>
        <tr>
            <td>lighting/pendant light</td>
            <td>灯类/吊灯</td>
        </tr>
        <tr>
            <td>lighting/single spotlight - ceiling-attached</td>
            <td>灯类/吸顶射灯</td>
        </tr>
        <tr>
            <td>lighting/track-mounted spotlight- ceiling-attached</td>
            <td>灯类/吸顶轨道射灯</td>
        </tr>
        <tr>
            <td>lighting/wall lamp</td>
            <td>灯类/壁灯</td>
        </tr>
        <tr>
            <td>media unit/floor-based media unit</td>
            <td>电视柜/置地电视柜</td>
        </tr>
        <tr>
            <td>media unit/wall-attached media unit</td>
            <td>电视柜/挂壁电视柜</td>
        </tr>
        <tr>
            <td>mirror/floor-based mirror</td>
            <td>镜子/落地镜</td>
        </tr>
        <tr>
            <td>mirror/wall-attached mirror</td>
            <td>镜子/挂墙镜</td>
        </tr>
        <tr>
            <td>outdoor furniture/outdoor furniture - floor-based</td>
            <td>室外家具/置地类室外家具</td>
        </tr>
        <tr>
            <td>outdoor furniture/outdoor furniture - wall-attached</td>
            <td>室外家具/吸墙类室外家具</td>
        </tr>
        <tr>
            <td>outdoor furniture/playground equipment</td>
            <td>室外家具/游乐设施</td>
        </tr>
        <tr>
            <td>paint/paint</td>
            <td>墙漆/墙漆</td>
        </tr>
        <tr>
            <td>people/people</td>
            <td>人物类/人物</td>
        </tr>
        <tr>
            <td>plants/plants - floor-based</td>
            <td>植物/置地类植物</td>
        </tr>
        <tr>
            <td>plants/plants - on top of others</td>
            <td>植物/置放在其他产品之上的植物</td>
        </tr>
        <tr>
            <td>recreation/floor-based recreation</td>
            <td>娱乐设施/置地类娱乐设施</td>
        </tr>
        <tr>
            <td>recreation/musical instrument</td>
            <td>娱乐设施/乐器</td>
        </tr>
        <tr>
            <td>recreation/toy - ceiling-attached</td>
            <td>娱乐设施/吸顶类玩具</td>
        </tr>
        <tr>
            <td>recreation/toy - floor-based</td>
            <td>娱乐设施/置地类玩具</td>
        </tr>
        <tr>
            <td>recreation/toy - on top of others</td>
            <td>娱乐设施/置放在其他产品之上的玩具</td>
        </tr>
        <tr>
            <td>recreation/toy - wall-attached</td>
            <td>娱乐设施/吸墙类玩具</td>
        </tr>
        <tr>
            <td>recreation/wall-attached recreation</td>
            <td>娱乐设施/吸顶类娱乐设施</td>
        </tr>
        <tr>
            <td>rug/rug</td>
            <td>地毯/地毯</td>
        </tr>
        <tr>
            <td>sink/drop-in single kitchen sink</td>
            <td>水槽/厨房单水槽</td>
        </tr>
        <tr>
            <td>sink/drop-in double kitchen sink</td>
            <td>水槽/厨房双水槽</td>
        </tr>
        <tr>
            <td>shower/floor based shower room</td>
            <td>淋浴设施/淋浴房</td>
        </tr>
        <tr>
            <td>shower/wall-attached shower room</td>
            <td>淋浴设施/吸墙淋浴花洒</td>
        </tr>
        <tr>
            <td>sofa/corner sofa</td>
            <td>沙发/转角沙发</td>
        </tr>
        <tr>
            <td>sofa/double seat sofa</td>
            <td>沙发/双人沙发</td>
        </tr>
        <tr>
            <td>sofa/single seat sofa</td>
            <td>沙发/单人沙发</td>
        </tr>
        <tr>
            <td>sofa/ottoman</td>
            <td>沙发/脚凳</td>
        </tr>
        <tr>
            <td>storage unit/armoire</td>
            <td>置物类/大衣橱</td>
        </tr>
        <tr>
            <td>storage unit/ceiling-attached storage unit</td>
            <td>置物类/吊柜</td>
        </tr>
        <tr>
            <td>storage unit/dresser</td>
            <td>置物类/斗柜</td>
        </tr>
        <tr>
            <td>storage unit/floor-based storage unit</td>
            <td>置物类/置地类储物单元（通用）</td>
        </tr>
        <tr>
            <td>storage unit/shelf - floor-based</td>
            <td>置物类/ 置地类架子</td>
        </tr>
        <tr>
            <td>storage unit/shelf - on top of others</td>
            <td>置物类/ 置放在其他产品上的架子</td>
        </tr>
        <tr>
            <td>storage unit/shelf - wall-attached</td>
            <td>置物类/吸墙类架子</td>
        </tr>
        <tr>
            <td>storage unit/stackable storage unit</td>
            <td>置物类/可叠放的职务单元（通用）</td>
        </tr>
        <tr>
            <td>storage unit/wall-attached storage unit</td>
            <td>置物类/吸墙类储物单元（通用）</td>
        </tr>
        <tr>
            <td>table/coffee table</td>
            <td>桌类/茶几</td>
        </tr>
        <tr>
            <td>table/dining table</td>
            <td>桌类/餐桌</td>
        </tr>
        <tr>
            <td>table/console table</td>
            <td>桌类/玄关桌</td>
        </tr>
        <tr>
            <td>table/night table</td>
            <td>桌类/床头柜</td>
        </tr>
        <tr>
            <td>table/side table</td>
            <td>桌类/边桌</td>
        </tr>
        <tr>
            <td>table/table</td>
            <td>桌类/桌（通用）</td>
        </tr>
        <tr>
            <td>toilet/floor-based toilet</td>
            <td>卫浴类/置地类马桶</td>
        </tr>
        <tr>
            <td>toilet/wall-attached toilet</td>
            <td>卫浴类/吸墙类马桶</td>
        </tr>
        <tr>
            <td>vanity/double vanity - wall-attached</td>
            <td>立盆/双立盆</td>
        </tr>
        <tr>
            <td>vanity/single vanity - wall-attached</td>
            <td>立盆/单立盆</td>
        </tr>
        <tr>
            <td>water/cold water</td>
            <td>水电/冷水口</td>
        </tr>
        <tr>
            <td>water/cold hot water</td>
            <td>水电/冷热水口</td>
        </tr>
        <tr>
            <td>water/hot water</td>
            <td>水电/热水口</td>
        </tr>
        <tr>
            <td>wall/marble</td>
            <td>墙面类/大理石</td>
        </tr>
        <tr>
            <td>wall/others</td>
            <td>墙面类/其他</td>
        </tr>
        <tr>
            <td>wall/paint</td>
            <td>墙面类/墙漆</td>
        </tr>
        <tr>
            <td>wall/wallpaper</td>
            <td>墙面类/壁纸</td>
        </tr>
        <tr>
            <td>wall/wall tiles</td>
            <td>墙面类/墙砖</td>
        </tr>
        <tr>
            <td>wall/wooden</td>
            <td>墙面类/木制墙面材质</td>
        </tr>
        <tr>
            <td>window/bay window</td>
            <td>窗/飘窗</td>
        </tr>
        <tr>
            <td>window/floor-based window</td>
            <td>窗/落地窗</td>
        </tr>
        <tr>
            <td>window/window</td>
            <td>窗/窗（通用）</td>
        </tr>
        </tbody>
    </table>

</div>