
<div class="retailers-section">

    <h1>{{"retailers_retailers" | translate}}</h1>

    <div class="curtain" ng-if="!isPageDataLoaded">
        <p>{{"loading" | translate}}</p>
    </div>

    <div class="curtain" ng-if="isDeleting">
      <p>{{"retailers_deleting" | translate}}</p>
    </div>

    <!-- main area -->
    <div class="row main">
        <!-- retailers list -->
        <div class="col-md-6">
            <table class="table table-striped table-hover">
                <tbody>
                <tr ng-repeat="rt in retailers" ng-click="onRetailerSelected($index, true)" ng-class="{loading: loading}">
                    <td class="ellipsis" ng-class="{success: $index == selectedRetailerIndex}">{{rt.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- selected retailer -->
        <div class="selected-item-details col-md-5" ng-if="selectedRetailer || editing != null">
            <!-- data -->
            <div class="row">
                <label class="col-md-2">{{"retailers_name" | translate}} </label>
                <span class="col-md-10 ellipsis" ng-if="editing == null">{{selectedRetailer.name}}</span>
                <input class="col-md-10" ng-if="editing != null" ng-model="editedRetailer.name"/>
            </div>
            <div class="row">
                <label class="col-md-2">{{"retailers_url" | translate}} </label>
                <span class="col-md-10 ellipsis" ng-if="editing == null">{{selectedRetailer.url}}</span>
                <input class="col-md-10" ng-if="editing != null" ng-model="editedRetailer.url"/>
            </div>
            <!-- buttons -->
            <div class="row">
                <div class="col-md-12 btn-group" ng-if="!editing">
                    <button class="btn btn-default" ng-click="editRetailer()">{{"retailers_edit" | translate}}</button>
                    <button class="btn btn-default" ng-click="deleteSelectedRetailer()">{{"retailers_delete" | translate}}</button>
                </div>
                <div class="col-md-12 btn-group" ng-if="editing">
                    <button class="btn btn-default" ng-click="saveEditedRetailer()">{{"retailers_save" | translate}}</button>
                    <button class="btn btn-default" ng-click="cancelEditRetailer()">{{"cancel" | translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-1" ng-if="editing == null">
            <button class="btn btn-success" ng-click="editNewRetailer()">{{"retailers_new" | translate}}</button>
        </div>
    </div>

</div>
