/*
 * general elements
 */

ul {
    list-style-type: none;
    padding: 0;
}

input[type="radio"] {
    margin: 0;
}

/*
 * global styles
 */

body {
    padding-top: 50px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    border-bottom: solid 1px #ddd;
    padding-bottom: 16px;
    margin-bottom: 15px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

label.unbold {
    font-weight: normal !important;
}

// override tree font
ul.dynatree-container {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.jumbotron {
    height: 400px;
    //background-image: url('/static/images/stadium-resized.jpg');
    //background-size: 100%;
}

.section {
    position: relative;
}

.curtain, .curtain-results {
    background:rgba(255,255,255,0.5);
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}

.curtain {
    position: fixed;
}

.curtain-results {
    position: absolute;
}

.curtain p {
        background-image: url("../images/ajax-loader.gif");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 60px 80px;
        background-color:#ddd;
        border: 1px solid #8c8c8c;
        width: 200px;
        line-height: 30px;
        padding:10px 10px 10px 60px;
        overflow: auto;
        left: 50%;
        top: 50%;
        margin-left: -100px;
        color:#000;
        z-index: 101;
        position: absolute;
        text-align: left;
    }

.search-strip {
    form {

        border-bottom: solid 1px #ddd;
        padding-bottom: 30px;
        margin-bottom: 20px;

        label+input, label+select {
            margin-left: 10px;
        }
        .form-group+.form-group {
            margin-left: 30px;
        }

        .categories, .brands {
            select {
                width: 180px;
            }
        }
        button[type=submit] {
            width: 180px;
        }

    }
}

.table {
    tbody tr {

        min-height: 58px;

        &:not(.loading) {
            cursor: pointer;
        }

        td {
            vertical-align: middle;
        }

    }
}

.products-results-box .table {
    tbody tr td {
        img {
            width: 50px;
            height: 50px;
            border: solid 1px #ddd;
        }
    }
}

/*
 * sections styles
 */

.login-section,
.signup-section {

    h1 {
        text-align: center;
    }

    input[type=checkbox] {
        margin-right: 10px;
    }

    label, button {
        margin-top: 16px;
    }

}

.edit-family-section,
.categories-section,
.brands-section,
.retailers-section {

    img {
        width: 50px;
        height: 50px;
        border: solid 1px #ddd;
    }

    input {
        &.error {
            border: solid 1px red;
        }
    }

    // TODO: remove from here
    .no-left-padding {
         padding-left: 0px;
     }

     .error-message {
        color: red;
     }

    .row.main {
        .tree-container.active .dynatree-container {
            border: solid 3px #428bca;
        }
        .dynatree-container {
            height: 400px;
            //height: 200px;

            /*
            // have rows to take only needed space
            &>li {
                float: left;
                clear: both;
            }
            */
        }
        .selected-item-details,
        .edit-instructions {

            background-color: #eee;
            border: solid 1px #ddd;
            padding: 14px 24px;

            .row+.row {
                margin-top: 6px;
            }
            .btn-group {
                padding-top: 10px;
            }
        }
    }

    .row.main+.row.buttons {
        margin-top: 30px;
    }

    .row.buttons {
        .btn-toolbar {
            .btn-group+.btn-group {
                margin-left: 40px;
            }
        }
    }

	.size-type-drop-down{
		width:100%;
		border: 1px solid #ddd !important;
		border-radius:5px;
		cursor:pointer;
		height:40px;
		line-height:40px;
		padding-left:10px;
		font-size:12px;
	}

	.size-type-caret{
		position:absolute;
		top:18px;
		right:20px;
	}

	.all-type-size{
		position:absolute;
		display:none;
		width:80%;
		border:1px solid #ddd;
		padding:10px;
		background-color:white;
		border_radius:5px;
	}

	.all-type-size .dynatree-container{
		max-height:100px;
	}

	.selected-item-details .filter-option{
		padding-left:20px;
		padding-top:5px;
		border-top:1px solid #ddd;
	}
}

.retailers-section {
    .table {
        table-layout: fixed;
    }
}

.products-categorization-section {

    h4 {
        border-bottom: solid 1px #ddd;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .search-strip {
        select {
            max-width: 200px;
        }
        .form-group.submit {
            float: right;
        }
        .row+.row {
            margin-top: 26px;
        }
    }

    .categories-tree-box {

        position: absolute;
        width: 24%;
        margin-left: 4%;

        h5 {

            cursor: pointer;
            color: #d3d3d3;
            border-bottom: solid 1px #ddd;
            padding-bottom: 16px;
            margin-bottom: 20px;

            .separator {

            }

            .selected {
                color: #000;
            }

        }

        .editor {

            border-bottom: solid 1px #ddd;
            padding-bottom: 30px;
            margin-bottom: 10px;

            .edit-categories {
                .categories-tree {

                    .dynatree-container {
                        max-height: 300px;
                    }

                    .dynatree-node.dynatree-partsel, .dynatree-node.dynatree-selected {
                        font-weight: bold;
                    }

                    // change default disabled tree background
                    &.ui-dynatree-disabled {
                        ul.dynatree-container {
                            background-color: #dff0d8;
                        }
                    }

                }
            }

            .edit-families {
                .families-tree {

                    .dynatree-container {
                        max-height: 300px;
                    }

                    .dynatree-node.dynatree-partsel, .dynatree-node.dynatree-selected {
                        font-weight: bold;
                    }

                    // change default disabled tree background
                    &.ui-dynatree-disabled {
                        ul.dynatree-container {
                            background-color: #dff0d8;
                        }
                    }

                }
            }

        }

    }

}

.products-search-section {

    .search-strip {
        .row+.row {
            margin-top: 26px;
        }
    }

    .references-box, .log-box {

        border: solid 1px #ddd;
        padding: 10px 20px 20px 20px;
        margin-bottom: 20px;

        h4 {
            border-bottom: solid 1px #ddd;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

    }

    .references-box .form-content {

        ul {

            margin-bottom: 20px;
            /*
            border-bottom: solid 1px #ddd;
            padding-bottom: 6px;
            */

            li {
                margin-bottom: 16px;
                min-width: 346px; // prevent from collapsing on a smaller screen
                .form-group+.form-group {
                    margin-left: 10px;
                }
            }

        }

        button.glyphicon {
            border: solid 1px #ddd;
            padding: 3px;
            &:not(:disabled) {
                cursor: pointer;
            }
        }

    }

    .log-box {
        li .timestamp {
           margin-right: 10px;
        }
    }

}

.edit-product-section {

    .row+.row {
        margin-top: 20px;
    }

    .edit-nav {
        border-bottom: solid 1px #ddd;
        padding-bottom: 15px;
        margin-bottom: 15px;

        button.add-variation {
            margin-top: 2px;
            margin-left: 10px;
        }

        button.duplicate {
            margin-top: 2px;
        }

        .row+.row {
            margin-top: 0;
        }
    }

    img.preview-image {
        width: 50px;
        height: 50px;
    }

    .form-upload-product {

        border-bottom: solid 1px #ddd;
        padding-bottom: 30px;
        margin-bottom: 50px;

        .edit-nav .guid {
            font-style: oblique;
        }

        .guideline {
            padding: 15px;
            border-radius: 5px;
            background-color: #FCFEC5;
            margin-top: 10px;
            border: solid 1px #BBBBBB;
            color: #2195F2
        }

        .dynatree-container {
            max-height: 400px;
        }

        .file-row a {
            cursor: pointer;
        }

        .row.files {
            select {
                width: initial;
            }

            .bold {
                font-weight: bold;
            }
        }

        .row {
            .asterisk {
                color: red;
                margin: 0 5px;
            }
        }

    }

    #sizeTypeFilterInfo{
    	max-height:400px;
    	overflow:auto;
    	border:1px solid #ddd;
    }

    .size-type-filter ul{
    	overflow:hidden;
    }

    .size-type-filter ul li{
    	margin-left:40px;
    }

    .size-type-filter .filter-name
    {
    	margin-left:10px;
    }

    .size-type-filter .category-name
    {
    	padding-left:10px;
    	background-color:lightgrey;
    }

    .size-type-filter input[type='radio']{
    	margin-right:5px;
    }

}

.guideline-page {
    margin-bottom: 50px;
    padding-bottom: 10px;
    border-bottom: solid 1px #BBBBBB;

    table {
        display: table;
        border-collapse:collapse;
        border-spacing: 2px;

        td {
            border: 1px solid #ddd;
            padding: 7px 10px;
            vertical-align: top;
            text-align: left;
        }
    }

    ul {
        li {
            list-style-type: disc;
        }
    }
}

#upload-file-modal {
    input {
        display: inline;
    }

    progress {
        margin: -3px 5px;
    }
}

[uib-popover-popup].popover,
[uib-popover-html-popup].popover,
[uib-popover-template-popup].popover {
  max-width: 600px;
  width: 380px;
}
