<div class="guideline-page">

    <h1>商户上传模型要求</h1>

    <h3>一、模型准备工作</h3>
    <h4>2D类</h4>
    <h5>壁纸</h5>
    <ol>
        <li>提供的贴图需为最小可循环图案单元。</li>
        <li>贴图需不包含透视，明暗均匀。</li>
        <li>贴图大小为512x512像素。</li>
        <li>可支持贴图格式：jpg</li>
        <li>商户需准备所提供贴图所对应的实际物理尺寸（cm为单位），后台上传时需填写。</li>
    </ol>
    <h5>砖类</h5>
    <ol>
        <li>提供单片砖带砖缝的贴图素材。</li>
        <li>贴图需不包含透视，明暗均匀。</li>
        <li>贴图应不包含透明像素或白边。</li>
        <li>贴图大小为长边512像素，短边按照砖的长宽比得到相应的像素值，贴图的长宽比等于实际单片砖的长宽比。</li>
        <li>可支持贴图格式：jpg</li>
        <li>商户需准备单片砖实际物理尺寸（cm为单位），后台上传时需填写。</li>
    </ol>
    <h5>地板类</h5>
    <ol>
        <li>提供不少于2x12块单片地板拼接结果的贴图。</li>
        <li>贴图应可循环。</li>
        <li>贴图需不包含透视。</li>
        <li>贴图大小为512x512像素。</li>
        <li>可支持贴图格式：jpg</li>
        <li>商户需准备所提供贴图地板区域实际物理尺寸（cm为单位），后台上传时需填写。</li>
    </ol>
    <h4>3D类</h4>
    <h5>模型几何体:</h5>
    <ol>
        <li>模型面数上限:40万面。</li>
        <li>模型内应只包含产品本身结构，不应包含不相关的产品，房间，灯光等内容。</li>
        <li>模型应根据产品真实尺寸比例建模，推荐使用cm制作为建模单位。</li>
        <li>模型应避免有叠面，非法面。</li>
        <li>避免制作产品内部不可见结构。</li>
        <li>模型的正面应面向max的正视图。</li>
        <li>模型上所有使用半透明贴图或半透明材质的结构，需要detach成独立物体，命名为‘glass'。</li>
        <li>带门套门楣的模型，门套部分命名为'door_frame',门楣部分命名为'door_lintel'。</li>
    </ol>
    <h5>模型材质:</h5>
    <ol>
        <li>目前支持使用standard，Vray材质，推荐使用Vray材质。</li>
        <li>模型不同材质的结构请使用独立的材质ID，同种材质的不同区域请使用相同的材质ID。</li>
        <li>确保模型用到的材质贴图路径已指定（没有丢失的贴图路径）。</li>
    </ol>
    <h5>模型贴图:</h5>
    <ol>
        <li>带有贴图的模型应有对应的UV。</li>
        <li>UV通道设置为1。</li>
        <li>贴图总的文件大小上限：10mb。</li>
        <li>可支持贴图格式：jpg, png, tga, bmp。</li>
    </ol>
    <h3>二、上传后台的文件</h3>
    <h4>2D类</h4>
    <ol>
        <li>贴图jpg文件（文件大小遵照以上‘模型准备工作’所述不同类型的规则制作）</li>
        <li>缩略图jpg文件，文件大小为600x600像素。</li>
    </ol>
    <h4>3D类</h4>
    <ol>
        <li>产品max压缩包，具体导出方式如下：<br/>
            <ul>
                <li>打开所要上传的Max文件，按以上‘模型准备工作’所述要求检查文件内容，保证符合上述规范。</li>
                <li>选择utility面板，More 按钮</li>
            </ul>
            <img src='appversion/res/images/content/1.png'>
            <ul>
                <li>选择resource collector</li>
            </ul>
            <img src='appversion/res/images/content/2.png'>
            </p>
            <ul>
                <li>设置输出路径，按以下截图勾选选项并点‘begin’导出压缩包至设置的输出路径</li>
            </ul>
            <img src='appversion/res/images/content/3.png'>
        </li>
        <li>Max压缩包的文件大小上限：30mb。</li>
        <li>产品缩略图jpg文件，文件大小为600x600像素。</li>
    </ol>

</div>