<div class="login-section" >
    <div class="row">
        <form class="col-md-4 col-md-offset-4" name="userForm" role="form" ng-submit="onSubmit()">

            <h1>{{"signup_sign_up" | translate}}</h1>

            <input type="email" ng-model="formData.email" name="email" ng-pattern="/^[A-Za-z0-9]+[\._A-Za-z0-9-]*@[A-Za-z0-9]+[\._A-Za-z0-9-]*\.[A-Za-z]{2,}$/"
                   class="form-control" placeholder="{{'signup_email_address' | translate}}" required autofocus>
            <span class="error" ng-show="userForm.email.$error.pattern">{{"signup_correct_format" | translate}}</span>

            <input type="password" name="password1" ng-model="formData.password1"
                   class="form-control" ng-minlength="6" placeholder="{{'signup_password' | translate}}" required>
            <span class="error" ng-show="userForm.password1.$error.minlength">{{"signup_at_least" | translate}}</span>

            <input type="password" ng-model="formData.password2" name="password2"
                   class="form-control" ng-minlength="6" placeholder="{{'signup_reenter_password' | translate}}" required>
            <span class="error" ng-show="userForm.password2.$error.minlength">{{"signup_at_least" | translate}}</span>

            <div class="form-group has-error" ng-disabled="!errorMessage">
                <label class="control-label" for="inputError">{{errorMessage}}</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="!userForm.email.$valid || !userForm.password1.$valid || !userForm.password2.$valid || posting">{{"signup_sign_up" | translate}}</button>

            <div class="center-block text-center">
                <label class="center-block">{{"signup_or" | translate}}</label>
                <a href="#/login" class="center-block">{{"signup_login" | translate}}</a>
            </div>
        </form>
    </div>
</div>
