<div class="edit-family-section">

    <h1>{{"editfamily_edit_family" | translate}}</h1>

    <div class="curtain" ng-if="loading">
        <p>{{curtainText}}</p>
    </div>

    <div class="row ">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2"><label>{{"editfamily_status" | translate}}</label></div>
                <div class="col-md-6"><select class="form-control" ng-model="family.status" ng-options="s.id as s.description for s in statuses"></select></div>
            </div>
            <div class="row">
                <div class="col-md-2"><label>{{"editfamily_name" | translate}}</label></div>
                <div class="col-md-6"><input type="text" ng-model="family.title" class="form-control" id="txtName"></div>
            </div>
            <div class="row">
                <div class="col-md-2"><label>GUID</label></div>
                <div class="col-md-6"><input type="text" ng-model="family.id" class="form-control" id="guid" readonly></div>
            </div>
            <div class="row">
                <div class="col-md-2"><label>{{"editfamily_icon" | translate}}</label></div>
                <div class="col-md-6">
                    <form id="file-icon-upload-form" class="col-md-7 no-left-padding">
                        <input type="file" name="iconFile" value="Choose File" accept="image/*,.svg" onchange="angular.element(this).scope().submitIconForm('file-icon-upload-form', '#file-icon-upload')">
                        <progress id="file-icon-upload" class="progress-upload-icon"></progress>
                        <span class="error-message" ng-if="family.fileTooBig">{{"editfamily_error_message" | translate}}</span>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2 no-left-padding">
                    <img ng-if="family.logo" ng-src="{{family.logoUrl}}{{extTimestamp}}">
                    <button ng-if="family.logo" class="glyphicon glyphicon-remove" ng-click="clearIcon()" ng-disabled="loading"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><label>{{"editfamily_members" | translate}}</label></div>
                <div ng-if="products" class="col-md-3 col-md-offset-5">
                    <label>{{"editfamily_items_in_page" | translate}}</label>
                    <select ng-model="productsPerPage.selected"
                            ng-options="p for p in productsPerPage.options"
                            ng-init="productsPerPage.selected=productsPerPage.options[0]"
                            ng-change="onItemsOnPageChanged()"
                            ng-disabled="loading"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 products-results-box">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th><input type="checkbox" ng-model="masterSelection" ng-change="onToggleAllProductsSelection(masterSelection)"></th>
                            <th class="col-md-1">{{"editfamily_image" | translate}}</th>
                            <th>{{"editfamily_name" | translate}}</th>
                            <th>{{"editfamily_status" | translate}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="pt in products" ng-click="onProductChecked(pt)" ng-class="{loading: loading}">
                            <td>
                                <input type="checkbox" ng-model="product.isChecked" ng-checked="masterSelection || pt.isSelected" ng-disabled="loading">
                            </td>
                            <td><img ng-src="{{pt.imageUrl}}"></td>
                            <td> {{pt.name}}</td>
                            <td>{{pt.status}}</td>
                            <td class="edit">
                                <a href="#/{{tenantId}}/upload-product?guid={{pt.id}}" target="_blank" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="btn-group">
                        <button class="btn btn-default" ng-click="openAddDialog()" ng-disabled="loading">{{"editfamily_add" | translate}}</button>
                        <button class="btn btn-default" ng-click="openDeleteDialog()" ng-disabled="selectedProductsCount <= 0 || loading">{{"editfamily_delete" | translate}}</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <!-- pagination -->
                    <div class="center-block">
                        <ul id="products-pagination" class="pagination-md"></ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button type="button" class="btn btn-success" ng-click="onEditFamilySave()" ng-disabled="loading">{{"editfamily_save" | translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row"><label>{{"editfamily_child_families" | translate}}</label></div>
            <div class="row"><div class="families-tree"></div></div>
            <div class="btn-group">
                <button class="btn btn-success" ng-click="onEditFamilyTreeSave()" ng-disabled="loading">{{"categorization_save" | translate}}</button>
                <button class="btn" ng-click="onEditFamilyTreeCancel()" ng-disabled="loading">{{"cancel" | translate}}</button>
            </div>
        </div>
    </div>

    <div id="add-product-modal" class="modal fade" ng-model="addProductPopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{addProductPopup.popupTitle | translate}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row form-group">
                            <label class="col-md-3">GUID: </label>
                            <input class="col-md-7" type="text" ng-model="addProductPopup.guid" ng-class="{ error: !addProductPopup.guid }" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="loading">{{"cancel" | translate}}</button>
                        <button type="submit" class="btn btn-primary" ng-click="addProductPopup.onConfirm()" ng-disabled="loading">{{addProductPopup.popupSaveText | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- confirmation dialog -->
    <div id="confirmation-modal" class="modal fade" ng-model="confirmationPopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{confirmationPopup.title | translate}}</h4>
                </div>
                <div class="modal-body"><span>{{confirmationPopup.message}}</span></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="loading">{{confirmationPopup.cancelText | translate}}</button>
                    <button type="button" class="btn btn-primary" ng-click="confirmationPopup.onConfirm()" ng-disabled="loading">{{confirmationPopup.okText | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
