<div class="section products-categorization-section">

    <h1>{{"categorization_products_categorization" | translate}}</h1>

    <div class="curtain" ng-show="loading">
        <p>{{"loading" | translate}}</p>
    </div>

    <!-- search section -->
    <div class="search-strip">
        <form name="formSearch" class="form-inline">
            <div class="row">
                <span class="col-md-12">
                    <span class="form-group">
                        <label>{{"categorization_free_text" | translate}}</label>
                        <input type="text" class="form-control" ng-model="searchParams.freeText" ng-disabled="loading"/>
                    </span>
                    <span class="form-group">
                        <label>{{"categorization_category" | translate}}</label>
                        <select class="form-control" ng-model="searchParams.category" ng-options="c.displayName for c in availableCategories" ng-disabled="loading"></select>
                    </span>
                </span>
            </div>
            <div class="row">
                <span class="col-md-12">
                    <span class="form-group">
                        <label>{{"categorization_brand" | translate}}</label>
                        <select class="form-control" ng-model="searchParams.brand" ng-options="c.name for c in availableBrands" ng-disabled="loading"></select>
                    </span>
                    <span class="form-group" ng-if="showBranch">
                        <label>{{"categorization_branch" | translate}}</label>
                        <select class="form-control" ng-model="searchParams.branch" ng-options="c for c in availableBranches" ng-disabled="loading" ng-change="onBranchChange()"></select>
                    </span>
                    <span class="form-group submit">
                        <button type="submit" class="btn btn-success" ng-click="onSearchButtonClicked()" ng-disabled="loading">{{"categorization_search" | translate}}</button>
                    </span>
                </span>
            </div>
        </form>
    </div>

    <!-- products section -->
    <div class="row">

        <!-- products list section -->
        <span class="col-md-7 products-results-box">

            <div ng-if="products">

                <h4>{{"categorization_search_results" | translate}} ({{totalProductsCount}})</h4>

                <div class="curtain-results" ng-if="isTreeDirty"></div>

                <div class="pull-right">
                    <label>{{"categorization_items_in_page" | translate}}</label>
                    <select ng-model="productsPerPage.selected"
                            ng-options="p for p in productsPerPage.options"
                            ng-init="productsPerPage.selected=productsPerPage.options[0]"
                            ng-change="onItemsOnPageChanged()"
                            ng-disabled="isTreeDirty"></select>
                </div>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th><input type="checkbox" ng-model="masterSelection" ng-change="onToggleAllProductsSelection(masterSelection)"></th>
                        <th>{{"categorization_name" | translate}}</th>
                        <th class="col-md-1">{{"categorization_image" | translate}}</th>
                        <th>{{"search_contenttype" | translate}}</th>
                        <th>{{"categorization_status" | translate}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="pt in products" ng-click="onProductChecked(pt)" ng-class="{loading: loading}"
                        uib-popover-template="'producttemplate.html'" popover-trigger="mouseenter" popover-placement="right" popover-title="{{pt.name}}">
                        <td>
                            <input type="checkbox" ng-model="product.isChecked" ng-checked="masterSelection || pt.isSelected" ng-disabled="isTreeDirty">
                            <!--<input type="radio" name="pt" value="pt.id" ng-disabled="formReferences.$dirty || loading" ng-checked="pt.id == selectedProduct.id">-->
                        </td>
                        <td> {{pt.name}}</td>
                        <td><img ng-src="{{pt.imageUrl}}"></td>
                        <td>{{pt.typeStrings}}</td>
                        <td>{{pt.status}}</td>
                        <td class="edit">
                            <a href="#/{{tenantId}}/upload-product?guid={{pt.id}}" target="_blank" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                        </td>

                      <script id="producttemplate.html" type="text/ng-template"><table>
                        <tbody>
                        <tr><td>Post process status:&nbsp&nbsp</td><td>{{pt.postStatus}}</td></tr>
                        <tr><td>SKU:</td><td>{{pt.SKU}}</td></tr>
                        <tr><td>Brand:</td><td>{{pt.brand}}</td></tr>
                        <tr><td>Retailer:</td><td>{{pt.retailer}}</td></tr>
                        <tr><td>Retailer price:</td><td>{{pt.retailerPrice}}</td></tr>
                        <tr><td>Style:</td><td>{{pt.style}}</td></tr>
                        <tr><td>Is scalable:</td><td>{{pt.isScalable}}</td></tr>
                        <tr><td>Coupon type:</td><td>{{pt.couponType}}</td></tr>
                        <tr><td>Default height:</td><td>{{pt.defaultHeight}}</td></tr>
                        <tr><td>Category:</td><td>{{pt.category}}</td></tr>
                        </tbody>
                        </table>
                      </script>
                    </tr>
                    </tbody>
                </table>

            </div>

            <!-- pagination -->
            <div class="center-block">
                <ul id="products-pagination" class="pagination-md"></ul>
            </div>

        </span>

        <!-- categories tree section -->
        <span class="categories-tree-box">

            <!-- active title -->
            <h5>
                <span ng-click="changeMode(0)" ng-class="{selected: currentEditMode == editModes.Categories}">{{"categorization_categories" | translate}}</span>
                <span class="separator">|</span>
                <span ng-click="changeMode(1)" ng-class="{selected: currentEditMode == editModes.Families}">{{"categorization_families" | translate}}</span>
                <span class="separator">|</span>
                <span ng-click="changeMode(2)" ng-class="{selected: currentEditMode == editModes.Attributes}">{{"categorization_attributes" | translate}}</span>
                <span class="separator">|</span>
                <span ng-click="changeMode(3)" ng-class="{selected: currentEditMode == editModes.Status}">{{"categorization_status" | translate}}</span>
                <span class="separator">|</span>
                <span ng-click="changeMode(4)" ng-class="{selected: currentEditMode == editModes.Retailer}">{{"categorization_retailer" | translate}}</span>
            </h5>

            <div class="editor">

                <div class="edit-categories" ng-show="currentEditMode == editModes.Categories">
                    <!-- tree -->
                    <div class="categories-tree"></div>
                </div>

                <div class="edit-families" ng-show="currentEditMode == editModes.Families">
                    <!-- tree -->
                    <div class="families-tree"></div>
                </div>

                <div class="edit-attributes" ng-show="currentEditMode == editModes.Attributes">
                    <!-- attributes -->
                    <span>{{"categorization_name" | translate}}:</span>
                    <select class="form-control"
                            ng-model="currentAttribute" ng-options="(a.name) for a in availableAttributes"
                            ng-disabled="!selectedProductsCount">
                    </select>
                    <span>{{"categorization_value" | translate}}:</span>
                    <select class="form-control"
                            ng-model="currentAttributeValue" ng-options="(v.name) for v in currentAttribute.valuesIds  | orderBy:'name'"
                            ng-disabled="!selectedProductsCount || !currentAttribute">
                    </select>
                </div>

                <div class="edit-status" ng-show="currentEditMode == editModes.Status">
                    <select class="form-control"
                            ng-model="currentStatus" ng-options="(s.description) for s in availableStatuses"
                            ng-disabled="!selectedProductsCount">
                    </select>
                </div>

                <div class="edit-retailer" ng-show="currentEditMode == editModes.Retailer">
                    <select class="form-control"
                            ng-model="currentRetailer" ng-options="(s.name) for s in availableRetailers | orderBy:'name'"
                            ng-disabled="!selectedProductsCount">
                    </select>
                </div>

            </div>

                <!-- control buttons -->
            <div class="btn-group">
                <button class="btn btn-success" ng-click="onSaveButtonClicked()" ng-disabled="isSaveDisabled()">{{"categorization_save" | translate}}</button>
                <button class="btn" ng-click="onCancelButtonClicked()" ng-disabled="isSaveDisabled()">{{"cancel" | translate}}</button>
            </div>
        </span>



    </div>

</div>
