<div class="categories-section">

    <h1>{{"families_families" | translate}}</h1>
    <select class="pull-right" ng-model="language" ng-options="l.name for l in languages" ng-change="onLanguageChange()"></select>
    <br/>
    <br/>

<!--
    <form id="file-upload-form-csv" class="pull-right">
        <button class="btn btn-primary" ng-click="showTranslationInfoModal()" class="pull-right">
            <span class="glyphicon glyphicon-info-sign"></span>
        </button>

        <input
        type="file"
        class="filestyle"
        name="categoriesNamesCsv"
        data-buttonText="Csv Translations"
        data-input="false"
        data-buttonName="btn-primary"
        accept=".csv"
        onchange="angular.element(this).scope().submitCsvTranslationsForm()">

        <img src='@routes.Assets.at("images/ajax-loader.gif")' style="width: 100px; height: initial; border: none" ng-show="isUploadingCsv()"/>

        <br/>

        <button ng-show="haveTranslations" class="btn btn-primary" ng-click="showTranslationModal()" class="pull-right" style="float: right;">
            <span class="glyphicon glyphicon-list"></span> Show Translations
        </button>
    </form>
 -->


    <div class="curtain" ng-if="!isPageDataLoaded">
        <p>{{"loading" | translate}}</p>
    </div>

    <!-- main area -->
    <div class="row main">
        <div class="tree-container col-md-6" ng-class="{active: editTreeOrder.isEditable}"></div>
        <div class="selected-item-details col-md-5" ng-if="activeCategory && !editTreeOrder.isEditable" ng-model="activeCategory">
            <div class="row"><label class="col-md-3">{{"families_name" | translate}} </label><span class="col-md-9">{{activeCategory.title}}</span></div>
            <div class="row">
                <label class="col-md-3">{{"families_icon" | translate}} </label><span class="col-md-9">
                <img ng-if="activeCategory.logo" ng-src="{{s3IconPathCategory}}{{activeCategory.logo}}.png{{extTimestamp}}"></span>
            </div>
            <div class="row"><label class="col-md-3">{{"GUID" | translate}} </label><span class="col-md-9">{{activeCategory.id}}</span></div>
            <div class="row">
                <span class="col-md-12" ng-show="activeCategory.status != 1">[{{getDescriptionByStatus(activeCategory.status)}}]</span>
            </div>
        </div>
        <div class="edit-instructions col-md-4" ng-if="editTreeOrder.isEditable">
            {{"families_instruction_line1" | translate}}<br />{{"families_instruction_line2" | translate}}
        </div>
    </div>

    <!-- buttons section -->
    <div class="row buttons">
        <div class="col-md-12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="openEditDialog()" ng-disabled="editTreeOrder.isEditable">{{"families_add" | translate}}</button>
                    <button class="btn btn-default" ng-click="openEditDialog(activeCategory)" ng-disabled="!activeCategory || editTreeOrder.isEditable">{{"families_edit" | translate}}</button>
                    <button class="btn btn-default" ng-click="openDeleteDialog(activeCategory)" ng-disabled="!activeCategory || editTreeOrder.isEditable">{{"families_delete" | translate}}</button>
                </div>

                <div class="btn-group">
                    <button class="btn btn-default" ng-click="editTreeOrder.onEditOrder()" ng-if="!editTreeOrder.isEditable" ng-disabled="loading">{{"category_edit_order" | translate}}</button>
                    <button class="btn btn-default" ng-click="editTreeOrder.onDoneEditingOrder()" ng-if="editTreeOrder.isEditable" ng-disabled="loading">{{"category_done_editing" | translate}}</button>
                    <button class="btn btn-default" ng-click="editTreeOrder.onCancelEditOrder()" ng-if="editTreeOrder.isEditable" ng-disabled="loading">{{"cancel" | translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- edit category popup-->
    <div id="edit-category-modal" class="modal fade" ng-model="editCategoryPopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{editCategoryPopup.popupTitle | translate}}</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" ng-model="editCategoryPopup.cParentId" />
                        <div class="row form-group">
                            <label class="col-md-3">{{"families_name" | translate}} </label>
                            <input class="col-md-7" type="text" ng-model="editCategoryPopup.cTitle" ng-class="{error: editCategoryPopup.titleRequired}" />
                        </div>
                        <div class="row form-group">
                            <label class="col-md-3">{{"families_icon" | translate}} </label>
                            <form id="file-upload-form" class="col-md-7 no-left-padding">
                                <input type="file" name="iconFile" value="Choose File" accept="image/x-png" onchange="angular.element(this).scope().submitIconForm()">
                                <progress class="progress-upload-icon"></progress>
                                <span class="error-message" ng-if="editCategoryPopup.fileTooBig">{{"families_error_message" | translate}}</span>
                            </form>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-3">{{"families_status" | translate}} </label>
                            <div class="col-md-4">
                                <select class="form-control"
                                ng-model="editCategoryPopup.cStatus"
                                ng-options="s.description for s in statuses">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-3 no-left-padding">
                                <img ng-if="editCategoryPopup.cIconUrl" ng-src="{{s3IconPathCategory}}{{editCategoryPopup.cIconUrl}}.png{{extTimestamp}}">
                                <button ng-if="editCategoryPopup.cIconUrl" class="glyphicon glyphicon-remove" ng-click="clearIcon()" ng-disabled="loading"></button>
                            </div>
                        </div>
                        <div ng-show="isCategoryIconExists()">
                            <progress class="progress-upload-icon2"></progress>
                            <span class="error-message" ng-if="editCategoryPopup.fileTooBig">{{"families_error_message2" | translate}}</span>

                            <div class="row form-group">

                                <br/>
                                <div style="color: red">{{"families_warning" | translate}}</div>

                                <table>
                                    <tr>
                                        <td>
                                            <form id="file-upload-form2" style="display: inline;">
                                                <input type="file" class="filestyle" name="iconFile" data-buttonText="2x" data-input="false" data-buttonName="btn-primary" accept="image/x-png" onchange="angular.element(this).scope().submitExtendedIconForm(0)">
                                            </form>
                                        </td>
                                        <td></td>
                                        <td>
                                            <img class="extendedImage" id="Image2x" ng-src="{{s3IconPathCategory}}{{editCategoryPopup.cIconUrl2x}}">
                                            <!--<button class="glyphicon glyphicon-remove" ng-click="clearIcon()" ng-disabled="loading"></button>-->
                                        </td></tr>

                                    <tr>
                                        <td>
                                            <form id="file-upload-form3">
                                                <input type="file" class="filestyle" name="iconFile" data-buttonText="3x" data-input="false" data-buttonName="btn-primary" accept="image/x-png" onchange="angular.element(this).scope().submitExtendedIconForm(1)">
                                            </form>
                                        </td>
                                        <td></td>
                                        <td>
                                            <img class="extendedImage" id="Image3x" ng-src="{{s3IconPathCategory}}{{editCategoryPopup.cIconUrl3x}}">
                                            <!--<button class="glyphicon glyphicon-remove extendedImage" ng-click="clearIcon()" ng-disabled="loading"></button>-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <form id="file-upload-form4">
                                                <input type="file" class="filestyle" name="iconFile" data-buttonText="svg" data-input="false" data-buttonName="btn-primary" accept="image/x-png" onchange="angular.element(this).scope().submitExtendedIconForm(2)">
                                            </form>
                                        </td>
                                        <td></td>
                                        <td>
                                            <img class="extendedImage" id="ImageSvg" ng-src="{{s3IconPathCategory}}{{editCategoryPopup.cIconUrlsvg}}">
                                            <!--<button class="glyphicon glyphicon-remove extendedImage" ng-click="clearIcon()" ng-disabled="loading"></button>-->
                                        </td>
                                    </tr>
                                </table>
                            </div>







                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="loading">{{"cancel" | translate}}</button>
                        <button type="submit" class="btn btn-primary" ng-click="editCategoryPopup.onConfirm()" ng-disabled="loading">{{editCategoryPopup.popupSaveText | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- confirmation dialog -->
    <div id="confirmation-modal" class="modal fade" ng-model="confirmationPopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{confirmationPopup.title | translate}}</h4>
                </div>
                <div class="modal-body"><span>{{confirmationPopup.message}}</span></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="loading">{{confirmationPopup.cancelText | translate}}</button>
                    <button type="button" class="btn btn-primary" ng-click="confirmationPopup.onConfirm()" ng-disabled="loading">{{confirmationPopup.okText | translate}}</button>
                </div>
            </div>
        </div>
    </div>

        <!-- translations info modal -->
    <div id="translations-info-modal" class="modal fade" ng-model="confirmationPopup">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{"families_translate_csv" | translate}}</h4>
                </div>
                <div class="modal-body">
                    <span>

                        {{"families_translation_info_line1" | translate}}<br/>
                        {{"families_translation_info_line2" | translate}}<br/>
                            <br/>
                        <b>{{"families_translation_info_line3" | translate}}</b><br/>
                            <br/>
                        <i>categoryId (optional), english, chinese, french, german, italian, japanese, portugese, russian, spanish</i><br/>
                            <br/>
                        {{"families_translation_info_line4" | translate}}<br/>
                        {{"families_translation_info_line5" | translate}}<br/>
                            <br/>
                        <b>{{"families_translation_info_line6" | translate}}</b><br/>
                            <i>
                            ,Assemblies,装配套件,Assemblages,Einheiten,Assemblati,アセンブリ,Conjuntos,Комплекты,Ensamblajes<br/>
                            ,Collections,收藏品,Collections,Kollektionen2,,コレクション,Coleções,Коллекции,Colecciones<br/>
                                67,Art & Decor,,,,,インテリア装飾品,,,<br/>
                            </i>




                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="loading">{{"families_got_it" | translate}}</button>
                </div>
            </div>
        </div>
    </div>

        <!-- translations modal -->
    <div id="translations-modal" class="modal fade" ng-model="confirmationPopup">
        <div class="modal-dialog modal-lg"  style="width: 1200px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{"families_translations_updated" | translate}}</h4>
                </div>
                <div class="modal-body">
                    <span>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="col-md-1">Id</th>
                                    <th class="col-md-1">{{"families_english" | translate}}</th>
                                    <th class="col-md-1">{{"families_chinese" | translate}}</th>
                                    <th class="col-md-1">{{"families_french" | translate}}</th>
                                    <th class="col-md-1">{{"families_german" | translate}}</th>
                                    <th class="col-md-1">{{"families_italian" | translate}}</th>
                                    <th class="col-md-1">{{"families_japanese" | translate}}</th>
                                    <th class="col-md-1">{{"families_portuguese" | translate}}</th>
                                    <th class="col-md-1">{{"families_russian" | translate}}</th>
                                    <th class="col-md-1">{{"families_spanish" | translate}}</th>
                                    <th class="col-md-1">{{"families_spanish" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="translation in translations" class="file-row">

                                    <td>{{translation.id}}</td>
                                    <td>{{translation.langs.en_US}}</td>
                                    <td>{{translation.langs.zh_CN}}</td>
                                    <td>{{translation.langs.fr_FR}}</td>
                                    <td>{{translation.langs.de_DE}}</td>
                                    <td>{{translation.langs.it_IT}}</td>
                                    <td>{{translation.langs.ja}}</td>
                                    <td>{{translation.langs.pt_BR}}</td>
                                    <td>{{translation.langs.ru}}</td>
                                    <td>{{translation.langs.es_ES}}</td>

                                </tr>
                            </tbody>
                        </table>

                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="loading">{{"families_got_it" | translate}}</button>
                </div>
            </div>
        </div>
    </div>

</div>
