<div class="attributes-section" ng-init="loading=true">

    <h1>{{"attributes_attributes" | translate}}</h1>

    <div class="curtain" ng-show="loading">
        <p>{{"loading" | translate}}</p>
    </div>

    <!-- attributes section -->
    <div class="row" ng-if="!loading">

        <!-- attributes list section -->
        <span class="col-md-7 products-results-box">
            <form name="formAttributes">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{"attributes_name" | translate}}</th>
                            <th>{{"attributes_description" | translate}}</th>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in attributes" ng-click="onAttributeSelected(formAttributes, formAttributeValues, $index)" ng-class="{loading: loading}">
                            <td><input type="radio" name="item" value="item.id" ng-disabled="formAttributeValues.$dirty || loading" ng-checked="item.id == selectedAttribute.id"></td>
                            <td><input type="text" ng-model="item.name" ng-disabled="!isNewAttributeId(item.id)" placeholder="attribute name..." required></td><!--style="cursor: pointer"-->
                            <td>{{item.description}}</td>
                            <!--<td><div style ="font-style: italic">{{item.id}}</div></td>-->
                            <td><div style ="font-style: italic"><input type="text" ng-model="item.id" ng-disabled="!isNewAttributeId(item.id)" placeholder="attribute id..."></div></td><!--style="cursor: pointer"-->
                        </tr>
                         
                        <tr ng-if="formAttributes.$dirty">
                        	<td colspan="4"><input type="checkbox" name="isSizeTypeAttribute" ng-model="isSizeTypeAttribute"> {{"attributes_is_size_type" | translate}}</td>
                        </tr>
                    </tbody>
                </table>
                
                <button
                class="btn-success glyphicon glyphicon-plus"
                ng-click="addAttribute(formAttributes)"
                ng-if="!loading && !formAttributes.$dirty"></button>
                <div class="btn-group" ng-if="formAttributes.$dirty">
                    <button class="btn" ng-disabled="!formAttributes.$dirty || loading" ng-click="removeAttribute(formAttributes)">
                            {{"cancel" | translate}}
                    </button>
                    <button type="submit" class="btn btn-success" ng-disabled="!formAttributes.$dirty || loading" ng-click="saveAttributes(formAttributes)">
                            {{"attributes_save" | translate}}
                    </button>
                </div>
            </form>
        </span>

            <!-- attributes values section -->
            <span class="col-md-5 references-box">
                <input class="form-control" type="password" ng-model="formData.passwordUser" ng-if="showPassword(formAttributes, formAttributeValues)" placeholder="password...">
            <form name="formAttributeValues" ng-submit="saveAttributeValues(formAttributeValues)">
                <div class="form-content pull-right" ng-if="selectedAttribute && !newOrUpdate">
                    <h4>{{"attributes_values" | translate}}</h4>
                    <ul>
                        <li ng-repeat="ref in selectedAttribute.valuesIds | orderBy:predicate:reverse" class="form-inline">
                            <span class="form-group">
                                <input class="form-control" type="text" name="refValue" ng-model="ref.name" ng-disabled="loading" placeholder="value..." required>
                            </span>
                            <span class="form-group">
                                <input class="form-control" style="font-style: italic" type="text" ng-model="ref.id" disabled>
                            </span>
                            <span class="form-group">
                                <button class="glyphicon glyphicon-remove" ng-click="removeAttributeValue(formAttributeValues, $index)" ng-disabled="loading"></button>
                            </span>
                        </li>
                        <li class="clearfix">
                            <button class="btn-success glyphicon glyphicon-plus pull-right"
                            ng-click="addAttributeValue(formAttributeValues)" ng-disabled="loading"></button>
                        </li>
                    </ul>
                    <div class="btn-group pull-right">
                        <button class="btn" ng-disabled="!formAttributeValues.$dirty || loading" ng-click="cancelChanges(formAttributeValues)">
                          {{"cancel" | translate}}
                        </button>
                        <button type="submit" class="btn btn-success" ng-disabled="!formAttributeValues.$dirty || loading">
                          {{"attributes_save" | translate}}
                        </button>
                    </div>
                </div>
            </form>
        </span>

    </div>

</div>
