<div ng-controller="CtrlNavigator"  class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation(切换导航)</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="#/{{tenantId}}">{{title}}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-if="category || brand || retailer || attribute || family" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">{{"navbar_tags" | translate}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-if="category">
              <a ng-href="#/{{tenantId}}/categories">{{"navbar_categories" | translate}}</a>
            </li>
            <li ng-if="brand">
              <a ng-href="#/{{tenantId}}/brands">{{"navbar_brands" | translate}}</a>
            </li>
            <li ng-if="retailer">
              <a ng-href="#/{{tenantId}}/retailers">{{"navbar_retailers" | translate}}</a>
            </li>
            <li ng-if="attribute">
              <a ng-href="#/{{tenantId}}/attributes">{{"navbar_attributes" | translate}}</a>
            </li>
            <li ng-if="family">
              <a ng-href="#/{{tenantId}}/families">{{"navbar_families" | translate}}</a>
            </li>
          </ul>
        </li>
        <li ng-if="products" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">{{"navbar_products" | translate}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a ng-href="#/{{tenantId}}/upload-product">{{"navbar_create_edit_product" | translate}}</a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-href="#/{{tenantId}}/search">{{"navbar_search_product" | translate}}</a>
            </li>
            <li ng-if="searchFamily">
              <a ng-href="#/{{tenantId}}/searchFamily">{{"navbar_search_family"| translate}}</a>
            </li>
            <li ng-if="categorization">
              <a ng-href="#/{{tenantId}}/products-categorization">{{"navbar_products_categorization" | translate}}</a>
            </li>
          </ul>
        </li>
        <li ng-if="users">
          <a href="" ng-href="#/{{tenantId}}/users">{{"navbar_users" | translate}}</a>
        </li>
        <li ng-if="migration" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">{{"navbar_migrations" | translate}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a ng-href="#/{{tenantId}}/create-tenant">{{"navbar_create_tenant" | translate}}</a>
            </li>
            <li>
              <a ng-href="#/{{tenantId}}/addPackageToTenant">{{"navbar_add_package_to_tenant" | translate}}</a>
            </li>
          </ul>
        </li>
        <li ng-if="dbg" class="dropdown" ng-class="{active: (moduleId == AppModule.MostSearchedKeywords)}">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">{{"navbar_analytics" | translate}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a ng-href="#/{{tenantId}}/analyticssearch">{{"navbar_most_searched_keywords" | translate}}</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" id="about" ng-click="showAbout()">{{"navbar_about" | translate}}</a></li>
        <li ng-if="editTenant" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">[{{tenantId}}] <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a ng-href="#/{{tenantId}}/tenant-edit">{{"navbar_settings" | translate}}</a>
            </li>
          </ul>
        </li>
        <li ng-if="showTenant"><a>[{{tenantId}}]</a></li>
        <li ng-if="user" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">{{user.email}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" style="max-height:600px;overflow-y:scroll">
            <li ng-repeat="tenant in user.tenants"><a href="" ng-click="setTenant(tenant)">[{{tenant}}]</a></li>
            <li class="divider"></li>
            <li>
              <a href="" ng-click="logout()">{{"navbar_logout" | translate}}</a>
            </li>
          </ul>
        </li>
        <li ng-translate-language-select></li>
      </ul>
    </div>
  </div>
</div>
