div[file-drop] {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 20pt;
    color: #bbb;
    margin-bottom: 10px;
    min-height: 300px;
    background-color: #f1f1f1;
}

.drag-active {
border-style: solid !important;
}

file-select .btn-file {
    position: relative;
    overflow: hidden;
}

file-select .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.progress-container {
margin-bottom: 5px;
padding: 5px;
background-color: #f7f7f7;
border: 2px outset #d8d8d8;
border-radius: 10px;
}

.progress {
    margin-bottom: 10px;
}

.file-details img {
    display: inline-block;
width: auto;
height: 60px;
    margin-right: 5px;
}

.file-details span {
    display: inline-block;
font-size: 12pt;
}

#image-to-crop-parent {
    position: relative;
}

#crop-area-modal-loading {
    text-align: center;
    font-size: 30pt;
}