footer {
  margin-top: 200px;
  margin-bottom: 22px; }
  footer i {
    margin-left: 20px;
    color: #000000; }
  footer > div {
    text-align: center; }
  footer .seperator {
    color: #428BCA; }
