nav {
  color: #D2D2D2; }
  nav i, nav .seperator {
    color: #D2D2D2; }
  nav i.nav-icon:hover,
  nav i.nav-icon.open {
    color: #FA9C00; }
  nav .seperator {
    width: 1px;
    height: 23px;
    background-color: #D2D2D2; }
  nav .last-seperator a {
    padding-right: 0px; }
  nav .user-avatar {
    height: 40px;
    margin-top: 7px; }
  nav .username a {
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  nav ul.nav {
    margin-top: 8px; }
  nav .logo-img {
    margin-left: 20px; }
  nav .cloud-img {
    margin-left: -1px; }
  nav button.navbar-toggle {
    margin-top: 20px; }
  nav .arrow-up,
  nav .arrow-up-color {
    width: 0;
    height: 0;
    border-bottom: 10px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    z-index: 1;
    right: 11px;
    top: -10px; }
  nav .arrow-up-color {
    border-bottom: 10px solid #FFFFFF;
    top: -10px; }
  nav .nav-messages ul {
    z-index: 2;
    font-size: 11px;
    display: none;
    padding-left: 0px;
    border: 1px solid #E9E9E9;
    border-bottom: none;
    width: 190px;
    position: absolute;
    background-color: #FFFFFF;
    right: 0px; }
    nav .nav-messages ul li {
      cursor: pointer;
      list-style: none;
      padding: 10px;
      border-bottom: 1px solid #E9E9E9; }
      nav .nav-messages ul li:hover {
        color: #fa9c00; }
  nav .nav-messages ul.open {
    display: block; }
  nav .nav-notifications ul {
    z-index: 2;
    display: none;
    width: 270px;
    padding-left: 0px;
    border: 1px solid #E9E9E9;
    border-bottom: none;
    position: absolute;
    background-color: #FFFFFF;
    right: 0px; }
    nav .nav-notifications ul li {
      position: relative;
      height: 50px;
      cursor: pointer;
      list-style: none;
      padding: 10px;
      border-bottom: 1px solid #E9E9E9;
      vertical-align: bottom;
      color: #989898; }
    nav .nav-notifications ul .friend-avatar {
      height: 30px;
      vertical-align: bottom; }
    nav .nav-notifications ul .friend-name {
      color: #fa9c00; }
    nav .nav-notifications ul .date {
      color: #D2D2D2; }
    nav .nav-notifications ul .notification-box {
      margin-left: 10px;
      font-size: 11px;
      display: inline-block; }
  nav .nav-notifications ul.open {
    display: block; }
  nav .nav-notifications .arrow-up,
  nav .nav-notifications .arrow-up-color {
    width: 0;
    height: 0;
    border-bottom: 10px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    z-index: 1;
    right: 11px;
    top: -10px; }
  nav .nav-notifications .arrow-up-color {
    border-bottom: 10px solid #FFFFFF;
    top: -10px; }
  nav li.nav-notifications:hover ul,
  nav li.nav-messages:hover ul {
    display: block; }

.navbar-default .navbar-nav > li > a {
  color: #666666; }

.navbar-toggle {
  margin-left: 0px; }

nav.navbar-default {
  background-color: #FFFFFF; }
