.product-upload {
  /* tooltips */
  /* tooltip icons and their positioning */
  /* left center */
  /* left top */
  /* right center */
  /* right */
  /* dropdowns */
  /* class hides the filepicker generated html */
  /* badge dropdown */ }
  .product-upload i.tooltips {
    position: relative;
    display: inline;
    z-index: 1; }
  .product-upload i.tooltips span {
    position: absolute;
    width: 140px;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #bbbbbb;
    height: 30px;
    text-align: center;
    display: none;
    border-radius: 0px; }
  .product-upload i.tooltips span:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 18%;
    margin-left: -12px;
    width: 0;
    height: 0;
    border-top: 12px solid #bbbbbb;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent; }
  .product-upload i.tooltips span.right:before {
    left: 92%; }
  .product-upload i.tooltips span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 17.111%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 10px solid #FFFFFF;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent; }
  .product-upload i.tooltips span.right:after {
    left: 91%; }
  .product-upload i:hover.tooltips span {
    /* visibility: visible; */
    display: block;
    opacity: 1;
    bottom: 30px;
    margin-left: -70px;
    z-index: 999;
    width: 240px;
    height: auto;
    font-size: 12px;
    color: #BBBBBB;
    padding: 15px 0px 15px 0px; }
  .product-upload i:hover.tooltips span.right {
    right: -70%; }
  .product-upload i:hover.tooltips span.left {
    left: 220%; }
  .product-upload i.tooltips {
    color: #fa9c00;
    margin: 0px 10px 0px 10px;
    cursor: pointer; }
  .product-upload i.left-center {
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute; }
  .product-upload i.left-top {
    left: -35px;
    position: absolute; }
  .product-upload i.right-center {
    right: -35px;
    transform: translateY(50%);
    position: absolute; }
  .product-upload i.right {
    right: -35px;
    position: absolute; }
  .product-upload i.right-top {
    right: -25px;
    transform: translateY(-50%);
    position: absolute; }
  .product-upload i.filetype-tooltip {
    right: -40px;
    position: absolute; }
  .product-upload i.filename-tooltip {
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute; }
  .product-upload i.badge-tooltip {
    right: -40px;
    top: 85%;
    position: absolute; }
  .product-upload .edit-filename-tooltip {
    right: -30px;
    position: absolute; }
  .product-upload .input-with-tooltip {
    position: relative; }
    .product-upload .input-with-tooltip .empty {
      color: #bbbbbb; }
    .product-upload .input-with-tooltip .edited {
      color: #343434; }
    .product-upload .input-with-tooltip span {
      cursor: pointer; }
  .product-upload .form-control {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding-top: 0px;
    padding-bottom: 0px; }
    .product-upload .form-control:focus {
      border-color: #FA9C00; }
  .files-list {
    color: #bbbbbb;
    font-size: 18px;
    padding: 0px 10px ;
  }
  .product-upload input.form-control,
  .product-upload textarea.form-control {
    color: #bbbbbb;
    font-size: 14px; }
  .product-upload .title .logo {
    position: relative;
    height: 94px;
    width: 94px;
    border: 1px solid #bbbbbb;
    margin-bottom: 10px;
    color: #fa9c00;
    font-size: 14px; }
    .product-upload .title .logo .logo-holder {
      background-color: #F7F7F7;
      width: 84px;
      height: 84px;
      z-index: -1; }
  .product-upload .title .title-input-cell {
    width: 100%; }
    .product-upload .title .title-input-cell i {
      font-size: 19px;
      height: 19px; }
  .product-upload .product-screenshot {
    position: relative;
    border: 1px solid #bbbbbb;
    width: 400px;
    height: 400px; }
    .product-upload .product-screenshot .holder {
      text-align: center; }
      .product-upload .product-screenshot .holder p {
        font-size: 14px;
        color: #bbbbbb; }
      .product-upload .product-screenshot .holder h6 {
        font-size: 20px;
        color: #fa9c00;
        font-weight: 200; }
  .product-upload .manufacturer {
    margin-top: 20px; }
  .product-upload .category {
    margin-top: 25px; }
    .product-upload .category > a {
      font-size: 14px;
      color: #bbbbbb; }
      .product-upload .category > a:hover {
        text-decoration: none; }
    .product-upload .category > i {
      color: #bbbbbb; }
    .product-upload .category .dropdown-menu {
      top: -14px;
      left: 96px; }
  .product-upload .seperator {
    margin: 50px 0px 50px 0px; }
  .product-upload .description {
    min-height: 200px; }
  .product-upload .description-html ul {
    padding-left: 17px; }
  .product-upload .description-html ul li:first-child {
    list-style: none;
    text-decoration: underline;
    margin-left: -15px;
    margin-bottom: 10px;
    font-size: 16px; }
  .product-upload .description-html h1 {
    margin-bottom: 30px;
    font-size: 16px; }
  .product-upload .download-btn span {
    opacity: 0.4; }
  .product-upload .product-download .panel-group .seperator {
    width: 100%;
    height: 1px;
    margin: 0px;
    background-color: #bbbbbb; }
  .product-upload .product-download .panel-group .panel-title.select-all-title {
    color: #000000; }
    .product-upload .product-download .panel-group .panel-title.select-all-title span {
      margin-left: 10px; }
  .product-upload .product-download .panel-group .panel-body {
    padding-top: 13px;
    border-bottom: 1px solid #CDCDCD; }
  .product-upload .product-download .panel-group .upload-file-heading {
    color: #fa9c00;
    background-color: #F5F5F5;
    cursor: pointer; }
    .product-upload .product-download .panel-group .upload-file-heading i {
      margin: 0px 5px 0px 10px; }
  .product-upload .product-download .filename-input,
  .product-upload .product-download .software-select-input {
    display: inline-block;
    width: 64%; }
  .product-upload .product-download .software-select-input {
    margin-top: 3px;
    -webkit-appearance: none; }
  .product-upload .product-download .file-upload-holder {
    display: inline-block;
    border: 1px dashed #bbbbbb;
    padding: 5px;
    cursor: pointer; }
    .product-upload .product-download .file-upload-holder .file-upload-box {
      display: inline-block;
      width: 100%;
      height: 65px;
      background-color: #F7F7F7;
      color: #fa9c00;
      text-align: center; }
      .product-upload .product-download .file-upload-holder .file-upload-box span {
        position: relative;
        top: 30%; }
  .product-upload .product-download .choose-badges,
  .product-upload .product-download .media > span {
    color: #bbbbbb;
    cursor: pointer;
    display: inline-block; }
  .product-upload .product-download .choose-badges {
    margin-top: 30px; }
    .product-upload .product-download .choose-badges:hover {
      text-decoration: none; }
  .product-upload .product-download .badges {
    margin-top: 30px; }
  .product-upload .product-download .media-body-new {
    margin-top: 20px; }
    .product-upload .product-download .media-body-new .property {
      margin-left: 10px; }
  .product-upload .product-download .media-body i {
    position: relative;
    top: 5px; }
  .product-upload .product-download .media {
    margin-top: 0px; }
  .product-upload .product-download .panel-added-files {
    /*            img {
                    width: 115px;
                }*/ }
    .product-upload .product-download .panel-added-files i.edit {
      color: #fa9c00;
      cursor: pointer; }
    .product-upload .product-download .panel-added-files i.edit-badge {
      margin-top: 30px;
      margin-right: 0px; }
  .product-upload .product-price {
    border: 1px solid;
    border-color: #BBB; }
    .product-upload .product-price i {
      width: 10px; }
    .product-upload .product-price .attribute {
      margin-top: 10px; }
    .product-upload .product-price input.form-control,
    .product-upload .product-price select.form-control {
      width: 65%;
      margin: 5px 0px 5px 0px;
      height: 25px; }
    .product-upload .product-price span {
      margin-left: 10px; }
    .product-upload .product-price .border {
      width: 100%;
      height: 1px;
      background-color: #BBBBBB; }
    .product-upload .product-price .license {
      -webkit-appearance: none; }
  .product-upload li.dropdown {
    list-style: none; }
  .product-upload .filetype-dropdown .empty {
    color: #bbbbbb; }
  .product-upload .filetype-dropdown .edited {
    color: #343434; }
  .product-upload .filetype-dropdown a:hover {
    text-decoration: none; }
  .product-upload .filetype-dropdown > .multi-column {
    left: 45%;
    top: -40%; }
  .product-upload .dropdown-menu.multi-column {
    width: auto;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border-bottom: 0px; }
  .product-upload .dropdown-menu.multi-column .dropdown-menu {
    display: block;
    position: static;
    margin: 0;
    border: none;
    box-shadow: none; }
    .product-upload .dropdown-menu.multi-column .dropdown-menu li {
      height: 35px; }
      .product-upload .dropdown-menu.multi-column .dropdown-menu li a {
        height: 100%;
        padding-top: 6px;
        text-align: left; }
  .product-upload .dropdown-menu .container-fluid .col-xs-6 {
    padding: 0px; }
  .product-upload .dropdown-menu {
    padding: 0px;
    min-width: 80px; }
    .product-upload .dropdown-menu .arrow-left,
    .product-upload .dropdown-menu .arrow-left-color {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #FFF;
      position: absolute;
      z-index: 1;
      right: 99%;
      top: 8px; }
    .product-upload .dropdown-menu .arrow-left-color {
      border-right: 10px solid #BBB;
      right: 100%; }
    .product-upload .dropdown-menu .container-fluid {
      padding: 0px; }
    .product-upload .dropdown-menu .left-column li {
      border-bottom: 1px solid #F5F5F5; }
    .product-upload .dropdown-menu .right-column li {
      border-left: 1px solid #F5F5F5;
      border-bottom: 1px solid #F5F5F5; }
  .product-upload .dropdown-menu.multi-column {
    min-width: 80px; }
  .product-upload .dropdown-menu.multi-column li > a {
    text-align: center; }
  .product-upload .dropdown.open > .dropdown-nested {
    display: block; }
  .product-upload .dropdown-menu.dropdown-nested {
    position: absolute;
    margin-bottom: 5px;
    border-radius: 0px;
    display: none;
    /* support for dropdown sub-menus */ }
    .product-upload .dropdown-menu.dropdown-nested .search-input {
      position: relative;
      height: 44px;
      background-color: #F5F5F5; }
      .product-upload .dropdown-menu.dropdown-nested .search-input i {
        position: absolute;
        top: 14px;
        left: 13px;
        color: #bbbbbb;
        z-index: 1; }
      .product-upload .dropdown-menu.dropdown-nested .search-input input {
        padding: 3px 20px;
        position: relative;
        top: 4px;
        margin-left: 6px;
        width: 94%; }
    .product-upload .dropdown-menu.dropdown-nested li {
      position: relative;
      border-bottom: 1px solid #E5E5E5; }
      .product-upload .dropdown-menu.dropdown-nested li a {
        /* column height */
        line-height: 35px;
        padding-left: 13px; }
      .product-upload .dropdown-menu.dropdown-nested li i {
        position: absolute;
        top: 35%;
        left: 92%; }
    .product-upload .dropdown-menu.dropdown-nested li:last-of-type {
      border-bottom: 0px; }
    .product-upload .dropdown-menu.dropdown-nested .dropdown-submenu {
      position: relative;
      border-radius: 0px;
      /*            // & > a:after {
                  //     display:block;
                  //     content:" ";
                  //     float:right;
                  //     width:0;
                  //     height:0;
                  //     border-color:transparent;
                  //     border-style:solid;
                  //     border-width:5px 0 5px 5px;
                  //     border-left-color:#cccccc;
                  //     margin-top:5px;
                  //     margin-right:-10px;
                  // }
      
                  // &:hover > a:after {
                  //     border-left-color:#ffffff;
                  // }*/ }
      .product-upload .dropdown-menu.dropdown-nested .dropdown-submenu > .dropdown-menu {
        top: 5px;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        border-radius: 0px; }
      .product-upload .dropdown-menu.dropdown-nested .dropdown-submenu:hover > .dropdown-menu {
        display: block; }
      .product-upload .dropdown-menu.dropdown-nested .dropdown-submenu.pull-left {
        float: none; }
      .product-upload .dropdown-menu.dropdown-nested .dropdown-submenu.pull-left > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px; }
    .product-upload .dropdown-menu.dropdown-nested .arrow-left,
    .product-upload .dropdown-menu.dropdown-nested .arrow-left-color {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #F5F5F5;
      position: absolute;
      z-index: 1;
      top: 11px; }
    .product-upload .dropdown-menu.dropdown-nested .arrow-left-color {
      border-right: 10px solid #BBB;
      left: -10px; }
    .product-upload .dropdown-menu.dropdown-nested .arrow-left {
      left: -9px; }
  .product-upload .dropdown-menu.dropdown-nested,
  .product-upload .dropdown-submenu,
  .product-upload .dropdown-submenu > .dropdown-menu {
    min-height: 32px;
    border-bottom: 1px solid #bbbbbb;
    padding-top: 5px;
    width: 278px; }
  .product-upload .file-upload-button {
    display: none; }
  .product-upload .dropdown-menu.badge-dropdown {
    min-width: 47px;
    top: -28px;
    left: 125px; }
    .product-upload .dropdown-menu.badge-dropdown .dropdown-menu {
      width: 141px;
      /* width for one row */ }
      .product-upload .dropdown-menu.badge-dropdown .dropdown-menu li {
        position: relative;
        cursor: pointer;
        height: 45px;
        /* height for one cell */
        /*width: 47px;  width for one cell */
        border: 1px solid #F5F5F5;
        display: block;
        float: left; }
        .product-upload .dropdown-menu.badge-dropdown .dropdown-menu li:hover {
          background-color: #F5F5F5; }
        .product-upload .dropdown-menu.badge-dropdown .dropdown-menu li.selected {
          background-color: #fa9c00; }
      .product-upload .dropdown-menu.badge-dropdown .dropdown-menu .done {
        color: #fa9c00; }
    .product-upload .dropdown-menu.badge-dropdown ul {
      min-width: 60px; }
  .product-upload .specification {
    margin-top: 50px; }
    .product-upload .specification .add-property {
      position: absolute;
      right: -25px;
      top: 20px; }
    .product-upload .specification .remove-property {
      position: absolute;
      right: -24px;
      top: 10px; }
    .product-upload .specification .property {
      position: relative; }
    .product-upload .specification i {
      color: #fa9c00;
      cursor: pointer; }
