/*
 * general elements
 */

ul {
  list-style-type: none;
  padding: 0;
}

.jumbotron {
  background-image: url("/static/images/seek/seek-header.png");
  height: 300px;
}

/*
 * search results
 */

.search-results {
  li.product {

    cursor: pointer;
    margin-bottom: 28px;

    &>* {
      border: solid 1px darkgray;
    }

    img {
      width: 100%;
      border-bottom: none;
    }

  }
}