/* colors */
h1 {
  font-size: 22px;
  font-weight: normal;
  display: inline-block; }

h5 {
  font-size: 14px; }

/* product view */
.product-view {
  /* product image / screenshot */
  /* specification (properties) */
  /* roduct description */ }
  .product-view table.title {
    height: 92px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    color: #343434; }
    .product-view table.title .seperator {
      width: 1px;
      height: 35px;
      background-color: #C2C2C2;
      float: left;
      margin: 4px 10px 0px 10px; }
    .product-view table.title img {
      max-width: 92px;
      max-height: 92px; }
  .product-view .image {
    margin-bottom: 40px; }
    .product-view .image img {
      display: block;
      margin-right: auto;
      margin-left: auto;
      max-width: 730px;
      max-height: 390px; }
    .product-view .image .holder {
      position: relative;
      height: 400px;
      width: 100%;
      background-color: #FFF;
      border-color: #BBB;
      border-width: 1px;
      border-style: solid;
      margin-bottom: 20px;
      padding-top: 5px;
      padding-bottom: 5px; }
    .product-view .image span {
      color: #fa9c00;
      font-size: 14px; }
    .product-view .image .seperator {
      margin: 0px 5px 0px 5px;
      color: #343434; }
  .product-view .table {
    font-size: 14px;
    color: #343434;
    table-layout: fixed; }
    .product-view .table th {
      text-align: center; }
    .product-view .table tr td {
      padding-left: 10px; }
  .product-view table.specification a.show-more {
    color: #fa9c00; }
  .product-view .table-bordered > thead > tr > th,
  .product-view .table-bordered > tbody > tr > th,
  .product-view .table-bordered > tfoot > tr > th,
  .product-view .table-bordered > thead > tr > td,
  .product-view .table-bordered > tbody > tr > td,
  .product-view .table-bordered > tfoot > tr > td {
    border-color: #BBB; }
  .product-view .seperator {
    width: 100%;
    height: 1px;
    background-color: #E7E7E7;
    margin: 40px 0px 40px 0; }
  .product-view .description {
    margin-top: 0px; }
  .product-view .description-html ul {
    padding-left: 17px; }
  .product-view .description-html ul li:first-child {
    list-style: none;
    text-decoration: underline;
    margin-left: -15px;
    margin-bottom: 10px;
    font-size: 16px; }
  .product-view .description-html h1 {
    margin-bottom: 30px;
    font-size: 16px; }
  .product-view a.viewsource {
    font-size: 14;
    color: #fa9c00; }

/* product download panel */
.product-download {
  /* file container */
  /* price date and license */
  /* badge description */ }
  .product-download .download-btn,
  .product-download .save-btn {
    background-color: #fa9c00;
    border-radius: 0px;
    border-style: none;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 40px; }
  .product-download .download-btn:hover,
  .product-download .save-btn:hover {
    background-color: #fa9c00; }
  .product-download .panel-group {
    border: 1px solid;
    border-color: #BBBBBB; }
    .product-download .panel-group span.btn {
      border-radius: 0;
      padding: 4px;
      color: #5F5F5F;
      width: 14px;
      height: 14px;
      margin-right: 10px; }
    .product-download .panel-group .panel-heading + .panel-collapse > .panel-body {
      border-top: none;
      border-bottom: none; }
    .product-download .panel-group .panel-default > .panel-heading.select-all-heading {
      background-color: #F5F5F5; }
    .product-download .panel-group span.btn.selected {
      background-color: #fa9c00; }
    .product-download .panel-group span.arrow {
      margin-left: 5px; }
    .product-download .panel-group .panel-title span {
      cursor: pointer; }
    .product-download .panel-group .panel-title.select-all-title {
      color: #fa9c00; }
    .product-download .panel-group .panel-body {
      border-bottom: 1px solid #CDCDCD;
      padding-left: 10px;
      padding-right: 10px; }
      .product-download .panel-group .panel-body i:not(:first-of-type) {
        margin-left: 10px; }
      .product-download .panel-group .panel-body .media img {
        border-style: solid;
        border-width: 1px;
        border-color: #BBBBBB;
        padding: 5px; }
      .product-download .panel-group .panel-body .media a.collapse:hover {
        text-decoration: none; }
      .product-download .panel-group .panel-body .media a.pull-left {
        margin-right: 5px; }
      .product-download .panel-group .panel-body .media .media-body {
        overflow: visible; }
      .product-download .panel-group .panel-body .links {
        margin: 15px 0px 15px 0px;
        color: #fa9c00; }
        .product-download .panel-group .panel-body .links a {
          color: #fa9c00; }
      .product-download .panel-group .panel-body .badges {
        cursor: pointer; }
      .product-download .panel-group .panel-body a.pull-left {
        text-decoration: none; }
    .product-download .panel-group .panel-collapse {
      max-height: 500px;
      /*overflow-y: scroll;*/ }
    .product-download .panel-group .panel {
      margin-top: 0px;
      border: none; }
      .product-download .panel-group .panel .seperator {
        width: 100%;
        height: 1px;
        background-color: #CDCDCD; }
    .product-download .panel-group .panel-heading {
      padding-left: 10px;
      padding-right: 10px; }
      .product-download .panel-group .panel-heading h5 {
        font-weight: normal; }
    .product-download .panel-group .panel-default > .panel-heading {
      background-color: #FFFFFF; }
    .product-download .panel-group .panel-title {
      font-size: 14px; }
  .product-download .details {
    border: 1px solid;
    border-color: #BBBBBB; }
    .product-download .details i {
      margin-left: 15px;
      margin-right: 10px; }
    .product-download .details div:not(:last-of-type) {
      border-bottom: 1px solid;
      border-color: #BBBBBB; }
    .product-download .details div {
      padding-top: 10px;
      padding-bottom: 10px; }
      .product-download .details div span {
        margin-right: 10px; }
      .product-download .details div .license {
        color: #fa9c00; }
  .product-download .family {
    margin-top: 30px;
    color: #9A9A9A; }
    .product-download .family i {
      margin-right: 10px;
      float: left;
      position: relative;
      top: 5px; }
    .product-download .family p {
      margin-bottom: 30px;
      padding-left: 30px; }

/* more products */
.more-products {
  background-color: #F8F8F8;
  margin-top: 120px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-top-color: #E7E7E7;
  border-bottom-color: #E7E7E7; }
  .more-products .container {
    padding-left: 0px;
    padding-right: 0px; }
  .more-products .header {
    margin-top: 50px;
    margin-bottom: 20px; }
  .more-products .thumbnails-container {
    margin-bottom: 50px; }
  .more-products img {
    width: 100%; }
  .more-products h6 {
    display: inline-block;
    font-size: 14px;
    font-weight: normal; }
  .more-products h1 {
    margin-top: 0px; }
  .more-products .thumbnail {
    border-color: #BBBBBB;
    border-radius: 0px; }
  .more-products .caption span {
    color: #fa9c00; }
  .more-products .caption p {
    font-size: 12px;
    margin: 0px; }
  .more-products .circle-container div {
    display: inline-block;
    margin-top: 5px; }
  .more-products .circle {
    height: 10px;
    width: 10px;
    margin-left: 10px; }

.circle {
  border-radius: 50%;
  display: inline-block;
  background-color: #BFBFBF;
  cursor: pointer; }

.circle.active {
  background-color: #fa9c00; }

footer {
  margin-top: 200px;
  margin-bottom: 22px; }
  footer i {
    margin-left: 20px;
    color: #000000; }
  footer > div {
    text-align: center; }
  footer .seperator {
    color: #428BCA; }

.line-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

/* to make center-* classes work, parent element should be in position: relative; */
.center-content {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%; }

.center-right {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  right: 0%; }
