<div  class="edit-product-section">

    <h1>{{"uploadproduct_create_edit" | translate}}</h1>

    <div class="curtain" ng-show="loading">
        <p>{{curtainText | translate}}</p>
    </div>

    <!-- main area -->
    <div class="form-upload-product">

        <div class="alert alert-dismissable alert-success fade in" id="success-alert" style="display:none">
            <button type="button" class="close">×</button>
            <strong>{{"uploadproduct_well_done" | translate}}</strong>
            <p ng-value="successMessage">{{successMessage}}</p>
        </div>

        <div class="edit-nav" ng-if="user.checkPermission(tenantId, AppModule.MenuProductAddEdit)">

            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills">
                        <li id="createPill" ng-class="{active: mode === EMode.eCreate}">
                            <a href="javascript:void(0)" ng-click="onCreateProductBtnClicked()">{{"uploadproduct_create" | translate}}</a>
                        </li>
                        <li id="editPill" ng-class="{active: mode !== EMode.eCreate}">
                            <a href="javascript:void(0)" ng-click="onEditProductBtnClicked()">{{"uploadproduct_edit" | translate}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4" ng-if="mode !== EMode.eCreate">
                    <input type="text" ng-model="formData.id1" class="form-control guid" placeholder="Guid">
                </div>
                <div class="col-md-1" ng-if="mode !== EMode.eCreate">
                    <button class="btn" ng-click="loadProductByGuid()" class="btn-primary">{{"uploadproduct_search" | translate}}</button>
                </div>
                <div class="col-md-1 ng-scope" ng-if="formData.previewImage && mode === EMode.eEdit">
                    <img class="preview-image" ng-src="{{formData.previewImage}}">
                </div>
                    <!-- add variation button -->
                <button ng-click="onEditVariationBtnClicked()" class="add-variation btn btn-primary pull-right" ng-if="mode === EMode.eEdit && !isManufacturerRole">
                    <span class="glyphicon glyphicon-star"></span>
                    <span ng-if="variations.length > 0">{{"uploadproduct_edit_variation" | translate}}</span>
                    <span ng-if="variations.length === 0">{{"uploadproduct_create_variation" | translate}}</span>
                </button>

                    <!-- duplicate button -->
                <button ng-click="onDuplicateBtnClicked()" class="duplicate btn btn-primary pull-right" ng-if="mode === EMode.eEdit">
                    <span class="glyphicon glyphicon-star"></span>
                    {{"uploadproduct_duplicate" | translate}}
                </button>
            </div>

            <div class="row">
                <!-- retry post processing -->
                <button ng-click="sendToTopview()" class="duplicate btn btn-success pull-right" ng-if="mode === EMode.eEdit">
                    <span class="glyphicon glyphicon-play"></span>
                    {{"uploadproduct_retry_post_processing" | translate}}
                </button>
            </div>

            <div class="guideline" ng-if="isManufacturerRole">
                <span class="glyphicon glyphicon-info-sign"></span>
                <a href="#/{{tenantId}}/modeling-guideline" target="_blank">{{"uploadproduct_modeling_guideline" | translate}}</a>
                <span class="glyphicon glyphicon-info-sign"></span>
                <a href="#/{{tenantId}}/chinese-guideline" target="_blank">{{"uploadproduct_modeling_guideline_usage" | translate}}</a>
            </div>
        </div>

        <div class="pull-right">
            <!-- language list -->
            <select class="language-select pull-right" ng-model="language" ng-options="l.name for l in languages track by l.code" ng-change="onLanguageChange()"></select>
            <br/>
            <!-- tenant branch list -->
            <select ng-show="mode === EMode.eEdit && availableBranches.length > 0" class="pull-right" ng-model="branch" ng-options="l for l in availableBranches" ng-change="onBranchChange()"></select>
        </div>

        <!-- post processing status -->
        <div class="row" ng-if="isPostProcessingStatus()">
            <div class="col-md-2"><label>{{"uploadproduct_post_processing_status" | translate}}</label></div>
            <div ng-if="formData.postProcessingStatus == 1">
                <span class="label label-success" ng-if="!hasPostProcessingLog()">{{"uploadproduct_success" | translate}}</span>&nbsp;
                <span ng-if="hasPostProcessingLog()" class="label label-success">{{"uploadproduct_success_with_warning" | translate}}</span>&nbsp;
                <span ng-if="hasPostProcessingLog()"><a href="javascript:void(0)" ng-click="showPostProcessingLog()">{{"uploadproduct_see_log" | translate}}</a>&nbsp;</span>
                <span ng-show="urlFor3DViewer"><a ng-href="{{urlFor3DViewer}}{{formData.id1}}" target="_blank">{{"uploadproduct_see_model" | translate}}</a></span>
                <div ng-if="formData.lastTimeProcessed != null && !loading" style="display:inline;">
                    <label> / </label>
                    <span class="label label-primary" title="{{formData.lastTimeProcessedOutputFormat}}">{{formData.lastTimeProcessedOutput}}</span>
                </div>
            </div>
            <div ng-if="formData.postProcessingStatus == 2">
                <span class="label label-danger">{{"uploadproduct_failure" | translate}}</span>&nbsp;
                <span><a href="javascript:void(0)" ng-click="showPostProcessingLog()">{{"uploadproduct_see_log" | translate}}</a></span>
            </div>
            <span class="label label-info" ng-if="formData.postProcessingStatus == 0">{{"uploadproduct_pending_in_queue" | translate}}</span>
            <span class="label label-default" ng-if="formData.postProcessingStatus == 9">{{"uploadproduct_preprocessing" | translate}}</span>
        </div>

        <div class="row" ng-if="isPostProcessingStatus()">
            <div class="col-md-2"><label>{{"uploadproduct_creation_modified_time" | translate}}</label></div>
            <span class="label label-primary" title="{{formData.creationTimeOutputFormat}}">{{formData.creationTimeOutput}}</span><label> / </label><span class="label label-primary" title="{{formData.modifiedTimeOutputFormat}}">{{formData.modifiedTimeOutput}}</span>
        </div>

        <!-- status -->
        <div class="row" ng-show="!isManufacturerRole">
            <div class="col-md-2"><label>{{"uploadproduct_status" | translate}}</label></div>
            <div class="col-md-4">
                <select class="form-control"
                        ng-disabled="isManufacturerRole"
                        ng-model="formData.status"
                        ng-options="s.description for s in pageData.statuses">
                </select>
            </div>
            <div class="col-md-3">
                <div id="statusDescription" class="help-block">{{statusDescriptionText | translate}}</div>
            </div>
        </div>

        <!-- name -->
        <div class="row">
            <div class="col-md-2"><label>{{"uploadproduct_name" | translate}}</label><span class="asterisk">*</span></div>
            <div class="col-md-4"><input type="text" ng-model="formData.name" class="form-control" id="txtName"></div>
        </div>

        <!-- label -->
        <div class="row"  ng-show="!isManufacturerRole">
            <div class="col-md-2"><label class="unbold">{{"uploadproduct_label" | translate}}</label></div>
            <div class="col-md-4"><input type="text" ng-model="formData.label" class="form-control" id="txtLabel"></div>
        </div>

        <!-- Dimension -->
        <div class="row" ng-show="!isManufacturerRole">
            <div class="col-md-2"><label class="unbold">{{"uploadproduct_dimension" | translate}}</label></div>
            <div class="col-md-4"><input type="text" ng-model="formData.dimension" class="form-control" id="txtLabel"></div>
        </div>

        <!-- description -->
        <div class="row">
            <div class="col-md-2"><label class="unbold">{{"uploadproduct_description" | translate}}</label></div>
            <div class="col-md-4">
                <textarea ng-model="formData.description" class="form-control" rows="2"></textarea>
            </div>
        </div>

        <!-- path -->
        <div class="row"  ng-show="!isManufacturerRole">
            <div class="col-md-2"><label class="unbold">{{"uploadproduct_path" | translate}}</label></div>
            <div class="col-md-4">
                <input type="text" ng-model="formData.path" class="form-control">
            </div>
        </div>

        <!-- sku -->
        <div class="row">
            <div class="col-md-2"><label class="unbold">{{"uploadproduct_sku" | translate}}</label></div>
            <div class="col-md-4"><input type="text" ng-model="formData.externalId" class="form-control"></div>
            <div class="col-md-3">
                <div id="skuDescription" class="help-block">{{skuDescriptionText | translate}}</div>
            </div>
        </div>

        <!-- brand -->
        <div class="row">
            <div class="col-md-2"><label>{{"uploadproduct_brand" | translate}}</label><span class="asterisk">*</span></div>
            <div class="col-md-4">
                <select class="form-control" ng-model="formData.brand" ng-options="b.name for b in pageData.brands"
                ng-change="updateSelectedBrandCategory()">
                <option value=""></option>
            </select>
            </div>
        </div>

        <!-- retailer -->
        <div class="row" ng-show="!isManufacturerRole">
            <div class="col-md-2"><label class="unbold">{{"uploadproduct_retailer" | translate}}</label></div>
            <div class="col-md-4">
                <select class="form-control" ng-model="formData.retailer"
                ng-options="b.name for (i, b) in pageData.retailers" ng-change="updateSelectedRetailer()">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <!-- retailer price -->
        <div class="row" ng-show="showRetailerDetail">
            <div class="col-md-2"><label class="unbold">{{"uploadproduct_retailer_price" | translate}}</label></div>
            <div class="col-md-4">
                <input type="text" ng-model="formData.retailerPrice" class="form-control" id="txtRetailerPrice"/>
            </div>
        </div>

        <!-- product retailer url -->
        <div class="row" ng-show="showRetailerDetail">
            <div class="col-md-2"><label class="unbold">{{"uploadprodcut_retailer_url" | translate}}</label></div>
            <div class="col-md-4"><input type="text" ng-model="formData.retailerProductUrl" class="form-control"
            id="txtRetailerUrl"></div>
            <div class="col-md-2">
                <button class="btn" ng-disabled="!formData.retailerProductUrl" ng-click="goToRetailerProductUrl()">{{"uploadprodcut_go_to_url" | translate}}
                </button>
            </div>
        </div>

        <!-- styles -->
        <div class="row">
            <div class="col-md-2"><label class="unbold">{{"uploadproduct_style" | translate}}</label></div>
            <div class="col-md-4">
                <select class="form-control"
                ng-model="formData.style"
                ng-options="(c.name) for c in pageData.styleValues">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <!-- materials -->
        <div class="row" id="materialDiv">
            <div class="col-md-2"><label class="unbold">{{"uploadproduct_material" | translate}}</label></div>
            <div class="col-md-4">
                <select class="form-control"
                ng-model="formData.material"
                ng-options="(c.name) for c in pageData.materialValues | orderBy:'order':false">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <!-- is scalable -->
        <div class="row" ng-show="formData.is3DProduct">
            <div class="col-md-2"><label>{{"uploadproduct_is_scalable" | translate}}</label></div>
            <div class="col-md-4">
                <select class="form-control"
                ng-model="formData.isScalable"
                ng-options="c.name for c in pageData.isScalableValues">
                </select>
            </div>
        </div>

        <!-- package types -->
        <div class="row">
            <div class="col-md-2"><label>{{"uploadproduct_coupon_type" | translate}}</label></div>
            <div class="col-md-4">
                <div class="couponType"></div>
            </div>
        </div>

        <!-- content type -->
        <div class="row">
            <div class="col-md-2"><label>{{"uploadproduct_content_type" | translate}}</label><span class="asterisk">*</span></div>
            <div class="col-md-4">                <div class="contenttype-tree"></div>            </div>
            <div class="col-md-2">
                <div id="contenttypeinfo" class="help-block"></div>
            </div>
            <div class="col-md-2">
                <div id="zindexinfo" class="help-block"></div>
            </div>
            <div class="col-md-2">
                <div id="svgfileinfo" class="help-block"></div>
            </div>
        </div>
        
        <!-- has pocket -->
        <div class="row" ng-show="showHasPocket">
            <div class="col-md-2"><label>{{"uploadproduct_has_pocket" | translate}}</label></div>
            <div class="col-md-4">
                <select class="form-control"
                ng-model="formData.hasPocket"
                ng-options="c.name for c in pageData.hasPocketValues">
                </select>
            </div>
        </div>

        <!-- pocket material -->
        <div class="row" ng-show="showPocketMaterial">
            <div class="col-md-2"><label>{{"uploadproduct_pocket_material" | translate}}</label></div>
            <div class="col-md-4">
                <select class="form-control"
                ng-model="formData.currentPocketMaterial"
                ng-options="option.name for option in formData.pocketMaterials">
                </select>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="formData.pocketMaterial" class="form-control" id="txtLabel">
            </div>
            <div class="col-md-2" >
                <img class="preview-image" ng-src="{{formData.currentPocketMaterial.imageUrl}}">
            </div>
        </div>

        <!-- Default Height -->
        <div class="row" ng-show="!isManufacturerRole">
            <div class="col-md-2"><label>{{"uploadprodcut_default_height" | translate}}</label></div>
            <div class="col-md-4"><input type="text" ng-model="formData.defaultHeight" class="form-control" id="txtLabel"></div>
        </div>

        <!-- DWG file -->
        <div class="row" ng-show="!isManufacturerRole">
            <div class="col-md-2"><label>{{"uploadproduct_dwg_file" | translate}}</label></div>
            <div class="col-md-4"><input type="text" ng-model="formData.dwgFile" class="form-control" id="txtLabel"></div>
        </div>

        <!-- categories -->
        <div class="row">
            <div class="col-md-2"><label>{{"uploadproduct_categories" | translate}}</label><span class="asterisk">*</span></div>
            <div class="col-md-4">                
                <div class="categories-tree"></div>
            </div>
            <div class="col-md-6">
            	<div id="sizeTypeFilterInfo" ng-show="showSizeType()">
            		<div ng-repeat="attribute in sizeTypeFilters" class="size-type-filter">
            			<div class="category-name">{{attribute.name}}</div>
            			<div>
            				<ul>
            					<li ng-repeat="option in attribute.values">
            					<input type="radio" name="{{attribute.id}}" id="{{attribute.id}}" value="{{option.id}}" ng-if="option.checked" checked="true"/>
            					<input type="radio" name="{{attribute.id}}" id="{{attribute.id}}" value="{{option.id}}" ng-if="!option.checked"/>
            					{{option.value}}</li>
            				</ul>
            			</div>
            		</div>
            	</div>
            </div>
        </div>

        <!-- families -->
        <div class="row" ng-show="!isManufacturerRole">
            <div class="col-md-2"><label>{{"uploadproduct_families" | translate}}</label></div>
            <div class="col-md-4">                <div class="families-tree"></div>            </div>
        </div>

        <!-- product type -->
        <div class="row">
            <div class="col-md-2"><label>{{"uploadproduct_product_type" | translate}}</label></div>
            <div class="col-md-4">
                <select class="form-control"
                ng-model="formData.productType"
                ng-options="b.name for b in pageData.productTypeValues"
                ng-disabled="mode === EMode.eEdit">
                </select>
            </div>
            <div class="col-md-6">
                <div id="productTypeDescription" class="help-block">{{"uploadproduct_you_have_to_upload" | translate}} {{productTypeDescriptionText}}</div>
            </div>

        </div>
        <!--  product dimension size -->
        <div class="row" ng-show="formData.isStyledProduct">
            <div class="col-md-2"><label>{{"uploadproduct_product_dimension" | translate}}</label></div>
            <div class="col-md-4">
                <label>{{"uploadprodcut_x_dimension" | translate}}</label>
                <input id="x_dimension" type="number" min=1 pattern="\d*" ng-model="formData.xDimension" required="true"
                class="form-control">
            </div>
            <div class="col-md-4">
                <label>{{"uploadprodcut_y_dimension" | translate}}</label>
                <input id="y_dimension" type="number" min=1 pattern="\d*" ng-model="formData.yDimension" required="true"
                class="form-control">
            </div>
        </div>

        <!-- unit size (eg: size of one juan of wallpaper)-->
        <div class="row" ng-show="formData.isContentTypeWallpaper">
            <div class="col-md-2"><label>{{"uploadproduct_unit_dimension" | translate}}</label></div>
            <div class="col-md-4">
                <label>{{"uploadprodcut_unit_dimension_width" | translate}}</label>
                <input id="unit_dimension_width" type="number" min=1 pattern="\d*" ng-model="formData.unitDimensionWidth" required="true" class="form-control">
            </div>
            <div class="col-md-4">
                <label>{{"uploadprodcut_unit_dimension_height" | translate}}</label>
                <input id="unit_dimension_height" type="number" min=1 pattern="\d*" ng-model="formData.unitDimensionHeight" required="true" class="form-control">
            </div>
        </div>


        <!-- mesh reduce flag -->
        <div class="row" ng-show="formData.is3DProduct && !isManufacturerRole">
            <div class="col-md-2"><label>{{"uploadproduct_mesh_reduce" | translate}}</label></div>
            <div class="col-md-4">
                <select class="form-control"
                        ng-model="formData.meshReduce"
                        ng-options="b.name for b in pageData.meshReduceValues">
                </select>
            </div>
        </div>

        <!-- files -->
        <div class="row files">
            <div class="col-md-2"><label>{{"uploadproduct_files" | translate}}</label><span class="asterisk">*</span></div>
            <div class="col-md-10" id="fileTable1">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-5">{{"uploadproduct_name" | translate}}</th>
                            <th class="col-md-1" ng-if-start="user.checkPermission(tenantId, AppModule.MenuProductAddEdit)"></th>
                            <th class="col-md-3">{{"uploadproduct_type" | translate}}</th>
                            <th class="col-md-2" ng-if-end>{{"uploadproduct_remove" | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="file in formData.files" class="file-row">
                            <td>
                                <input class="form-control" ng-class="{'bold': file.uploadByUser}" type="text" ng-model="file.name"/>
                            </td>
                            <td ng-if-start="user.checkPermission(tenantId, AppModule.MenuProductAddEdit)"><a href="{{file.storageUrl}}" target="_blank" class="glyphicon glyphicon-download-alt"></a></td>
                            <td>
                                <select class="form-control" ng-model="file.metaData"
                                ng-options="b.metaData as b.name for b in pageData.fileTypes"></select>
                            </td>
                            <td ng-if-end>
                                <button class="btn-warning glyphicon glyphicon-remove pull-left" ng-click="removeFile($index)"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn"  ng-if="user.checkPermission(tenantId, AppModule.MenuProductAddEdit)"
                ng-click="openUploadFileDialog()" id="btnFileAdd">
                    {{"uploadproduct_add" | translate}}
                </button>
            </div>
        </div>

        <!-- save -->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <button class="btn btn-success btn-block" ng-click="onSave()" ng-disabled="loading">
                    {{loading ? "loading" : "uploadproduct_save" | translate}}
                </button>
            </div>
        </div>
    </div>

    <!-- upload file dialog -->
    <div id="upload-file-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{"uploadproduct_add_file" | translate}}</h4>
                </div>
                <div class="modal-body">
                    <form id="file-upload-form">
                        <input class="btn" type="file" name="file1" value="Choose File"
                        onchange="angular.element ( this ).scope ( ).submitFileForm ( this.files[ 0 ] )">
                        <progress class="progress-upload-file"></progress>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="loading">{{"cancel" | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- confirmation dialog -->
    <div id="confirmation-modal" class="modal fade" ng-model="confirmationPopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{confirmationPopup.title | translate}}</h4>
                </div>
                <div class="modal-body"><span>{{confirmationPopup.message | translate}}</span></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="loading">
                        {{confirmationPopup.cancelText | translate}}
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="confirmationPopup.onConfirm()"
                    ng-disabled="loading">{{confirmationPopup.okText | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
