<div class="brands-section">

    <h1>{{"brands_brands" | translate}}</h1>

    <div class="curtain" ng-if="!isPageDataLoaded">
        <p>{{"loading" | translate}}</p>
    </div>

    <!-- main area -->
    <div class="row main">
        <div class="tree-container col-md-6" ng-class="{active: editTreeOrder.isEditable}"></div>
        <div class="selected-item-details col-md-4" ng-if="activeBrand && !editTreeOrder.isEditable" ng-model="activeBrand">
            <div class="row"><label class="col-md-3">{{"brands_name" | translate}} </label><span class="col-md-9">{{activeBrand.title}}</span></div>
            <div class="row"><label class="col-md-3">{{"brands_link" | translate}} </label><span class="col-md-9">{{activeBrand.link}}</span></div>
            <div class="row">
                <label class="col-md-3">{{"brands_icon" | translate}} </label><span class="col-md-9">
                <img ng-if="activeBrand.url" src="{{activeBrand.url}}{{extTimestamp}}"></span>
            </div>
        </div>
        <div class="edit-instructions col-md-4" ng-if="editTreeOrder.isEditable">
            {{"brands_instructions_line1" | translate}}<br/>{{"brands_instructions_line2" | translate}}
        </div>
    </div>

    <!-- buttons section -->
    <div class="row buttons">
        <div class="col-md-12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="openEditDialog()" ng-disabled="editTreeOrder.isEditable">{{"brands_add" | translate}}</button>
                    <button class="btn btn-default" ng-click="openEditDialog(activeBrand)" ng-disabled="!activeBrand || editTreeOrder.isEditable">{{"brands_edit" | translate}}</button>
                    <button class="btn btn-default" ng-click="openDeleteDialog(activeBrand)" ng-disabled="!activeBrand || editTreeOrder.isEditable">{{"brands_delete" | translate}}</button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="editTreeOrder.onEditOrder()" ng-if="!editTreeOrder.isEditable" ng-disabled="loading">{{"brands_edit_order" | translate}}</button>
                    <button class="btn btn-default" ng-click="editTreeOrder.onDoneEditingOrder()" ng-if="editTreeOrder.isEditable" ng-disabled="loading">{{"brands_done_editing" | translate}}</button>
                    <button class="btn btn-default" ng-click="editTreeOrder.onCancelEditOrder()" ng-if="editTreeOrder.isEditable" ng-disabled="loading">{{"cancel" | translate}}</button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="editTreeOrder.sortTreeByTitle()" ng-if="editTreeOrder.isEditable">{{"brands_sort_by_name" | translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- edit brand popup-->
    <div id="edit-brand-modal" class="modal fade" ng-model="editBrandPopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{editBrandPopup.popupTitle | translate}}</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" ng-model="editBrandPopup.cParentId" />
                        <div class="row form-group">
                            <label class="col-md-3">{{"brands_name" | translate}} </label>
                            <input class="col-md-7" type="text" ng-model="editBrandPopup.cTitle"  ng-class="{error: editBrandPopup.titleRequired}"  />
                        </div>
                        <div class="row form-group">
                            <label class="col-md-3">{{"brands_link" | translate}} </label>
                            <input class="col-md-7" type="text" ng-model="editBrandPopup.cLink"/>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-3">{{"brands_icon" | translate}} </label>
                            <form id="file-upload-form" class="col-md-7 no-left-padding">
                                <input type="file" name="iconFile" value="Choose File" accept="image/jpeg" onchange="angular.element(this).scope().submitIconForm()">
                                <progress class="progress-upload-icon"></progress>
                                <span class="error-message" ng-if="editBrandPopup.fileTooBig">{{brands_error_message | translate}}</span>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-3 no-left-padding">
                                <img ng-if="editBrandPopup.cUrl" src="{{editBrandPopup.cUrl}}{{extTimestamp}}">
                                <button ng-if="editBrandPopup.cUrl" class="glyphicon glyphicon-remove" ng-click="clearIcon()" ng-disabled="loading"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="loading">{{"cancel" | translate}}</button>
                        <button type="submit" class="btn btn-primary" ng-click="editBrandPopup.onConfirm()" ng-disabled="loading">{{editBrandPopup.popupSaveText | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- confirmation dialog -->
    <div id="confirmation-modal" class="modal fade" ng-model="confirmationPopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{confirmationPopup.title | translate}}</h4>
                </div>
                <div class="modal-body"><span>{{confirmationPopup.message}}</span></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="loading">{{confirmationPopup.cancelText | translate}}</button>
                    <button type="button" class="btn btn-primary" ng-click="confirmationPopup.onConfirm()" ng-disabled="loading">{{confirmationPopup.okText | translate}}</button>
                </div>
            </div>
        </div>
    </div>

</div>
