<div class="create-tenant-section">

    <h1>{{"tenantcreate_create_tenant" | translate}}</h1>

    <div class="row">
        <span class="col-md-4">
            <form name="formCreateTenant" ng-submit="onCreateTenantSubmitted()" >
                <div class="form-group">
                    <label>{{"tenantcreate_new_tenant_id" | translate}}</label>
                    <input type="text" class="form-control" ng-model="formData.newTenant" ng-disabled="loading" required="true" />
                </div>
                <div class="form-group">
                    <label>{{"tenantcreate_from_tenant" | translate}}</label>
                    <input type="text" class="form-control" ng-model="formData.fromTenant" ng-disabled="true"/>
                </div>
                <div class="form-group">
                    <label>{{"tenantcreate_password" | translate}}</label>
                    <input type="password" class="form-control" ng-model="formData.password" ng-disabled="loading" required="true"/>
                </div>
<!--
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="formData.migrateAllProducts" ng-disabled="loading"/> Migrate all products
                    </label>
                </div>
-->
                <button type="submit" class="btn btn-success" ng-disabled="loading">{{"tenantcreate_create_tenant" | translate}}</button>
                <p class="help-block" ng-if="loading">{{"tenantcreate_tip" | translate}}</p>
            </form>
        </span>
    </div>

</div>
