<div class="products-search-section">

    <h1>{{"searchfamily_search_family" | translate}}</h1>

    <div class="curtain" ng-show="loading">
        <p>{{"loading" | translate}}</p>
    </div>
    <!-- search section -->
    <div class="search-strip">
        <form name="formSearch" class="form-inline" ng-submit="onSearchButtonClicked()" >
        <div class="row">
            <span class="col-md-12">
                <span class="form-group">
                    <label>{{"searchfamily_free_text" | translate}}</label>
                    <input type="text" class="form-control" ng-model="searchParams.freeText" ng-disabled="loading" />
                </span>
                <span class="form-group">
                    <label>{{"searchfamily_guid" | translate}}</label>
                    <input type="text" class="form-control" ng-model="searchParams.familyGuid" ng-disabled="loading" />
                </span>
                <span class="form-group">
                    <label>{{"searchfamily_status" | translate}}:</label>
                    <select class="form-control" ng-model="searchParams.status" ng-options="status.description for status in statuses"></select>
                </span>
                <span class="form-group pull-right">
                    <button type="submit" class="btn btn-success" ng-disabled="loading">{{"searchfamily_search" | translate}}</button>
                </span>
            </span>
        </div>
        </form>
    </div>


    <!-- products section -->
    <div class="row" ng-if="families && families.length > 0">

        <!-- products list section -->
        <span class="col-md-8 products-results-box">
            <h4>
                <div>{{"searchfamily_family_search_results" | translate}} ({{totalFamiliesCount}})</div>
            </h4>

            <div class="pull-right">
                <label>{{"searchfamily_items_in_page" | translate}}</label>
                <select ng-model="familiesPerPage.selected"
                ng-options="p for p in familiesPerPage.options"
                ng-init="familiesPerPage.selected=familiesPerPage.options[0]"
                ng-change="onItemsOnPageChanged()"
                ng-disabled="loading"></select>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th class="col-md-1">{{"searchfamily_image" | translate}}</th>
                    <th>{{"searchfamily_name" | translate}}</th>
                    <th>{{"searchfamily_status" | translate}}</th>
                    <!--th class="text-center">{{"searchfamily_members" | translate}}</th-->
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="f in families" ng-click="onFamilySelected($index)" ng-class="{loading: loading}">
                    <td><input type="radio" name="family" value="f.id" ng-disabled="loading" ng-checked="f.id == selectedFamily.id"></td>
                    <td><img ng-src="{{s3IconPathCategory}}{{f.logo}}.png{{extTimestamp}}"></td>
                    <td> {{f.title}}</td>
                    <td>{{f.status | StatusFilter}}</td>
                    <!--td class="text-center">{{numOfMembers(f)}}</td-->
                    <td class="edit">
                        <a href="#/{{tenantId}}/editFamily?guid={{f.id}}" target="_blank" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>

                <!-- pagination -->
            <div class="center-block">
                <ul id="families-pagination" class="pagination-md"></ul>
            </div>
        </span>
    </div>

    <!-- buttons section -->
    <div class="row buttons" ng-if="families && families.length > 0">
        <div class="col-md-12">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a class="btn btn-default" href="#/{{tenantId}}/families" target="_blank"  role="button" ng-disabled="loading">Add</a>
                    <a class="btn btn-default" href="#/{{tenantId}}/editFamily?guid={{selectedFamily.id}}" target="_blank"  role="button" ng-disabled="!selectedFamily || loading">Edit</a>
                    <button class="btn btn-default" ng-click="openDeleteDialog(selectedFamily)" ng-disabled="!selectedFamily || loading">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- confirmation dialog -->
    <div id="confirmation-modal" class="modal fade" ng-model="confirmationPopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{confirmationPopup.title}}</h4>
                </div>
                <div class="modal-body"><span>{{confirmationPopup.message}}</span></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="loading">{{confirmationPopup.cancelText}}</button>
                    <button type="button" class="btn btn-primary" ng-click="confirmationPopup.onConfirm()" ng-disabled="loading">{{confirmationPopup.okText}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
