<div class="login-section">
  <div class="row">
    <form class="col-md-4 col-md-offset-4" role="form" ng-submit="onSubmit()">
      <h1>{{"login_login" | translate}}</h1>
      <input type="email" ng-model="formData.email" name="email" class="form-control"
        placeholder='{{"login_email_address" | translate}}' required autofocus>
      <input type="password" ng-model="formData.password" name="password" class="form-control"
        placeholder='{{"login_password" | translate}}' required>
      <label><input type="checkbox" name="rememberMe" value="true" ng-model="formData.rememberMe">{{"login_remember_me" | translate}}</label>
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loading">{{"login_login" | translate}}</button>
      <div class="center-block text-center">
        <label class="center-block">{{"login_or" | translate}}</label>
        <a href="#/signup" class="center-block">{{"login_sign_up" | translate}}</a>
        <!--label class="center-block">{{"login_or" | translate}}</label>
          <a ng-href="{{providerLoginUrl}}" class="center-block">{{"login_oxygen_login" | translate}}</a-->
      </div>
      <div ng-if="providerLoginError" class="alert alert-danger">{{providerLoginError}}</div>
    </form>
  </div>
</div>
