<div class="edit-product-section">

    <h1 ng-if="mode === EMode.eCreate">{{"uploadproduct_create_variation" | translate}}</h1>

    <h1 ng-if="mode === EMode.eEdit">{{"uploadproduct_edit_variation" | translate}}</h1>

    <div class="curtain" ng-show="loading">
        <p>{{curtainText | translate}}</p>
    </div>

    <!-- main area -->
    <div class="form-upload-product">
        <!-- upload succeed notification-->
        <div class="alert alert-dismissable alert-success fade in" id="success-alert" style="display:none">
            <button type="button" class="close">×</button>
            <strong>{{"uploadproduct_well_done" | translate}}</strong>
            <p ng-value="successMessage">{{successMessage}}</p>
        </div>

        <div class="edit-nav" ng-if="user.checkPermission(tenantId, AppModule.MenuProductAddEdit)">
            <div class="row" >
                <!-- variations navigation  -->
                <div class="variations-nav pull-right" ng-if="(variations.length > 0 && mode === EMode.eEdit)">
                    <button ng-click="onCreateVariationBtnClicked()" class="add-variation btn btn-primary" ng-if="mode === EMode.eEdit && !isManufacturerRole">
                        <span class="glyphicon glyphicon-star"></span>{{"uploadproduct_add_variant" | translate}}
                    </button>
                    <button href="#" ng-click="onPrevBtnClicked()" class="btn btn-default glyphicon glyphicon-step-backward"></button>
                    <button href="#" ng-click="onNextBtnClicked()" class="btn btn-default glyphicon glyphicon-step-forward"></button>
                </div>

                <div class="col-md-1 ng-scope" ng-if="previewImage">
                    <img id="dynamicPreviewImage" class="preview-image" ng-src="{{previewImage}}">
                </div>
                <div class="col-md-1 ng-scope" ng-if="(variations.length > 0 && mode === EMode.eEdit)">
                    <h4>{{currentVariationIndex + 1}}/{{variations.length}}</h4>
                </div>

                <div class="guideline" ng-if="isManufacturerRole">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <a href="#/{{tenantId}}/modeling-guideline" target="_blank">{{"uploadproduct_modeling_guideline" | translate}}</a>
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <a href="#/{{tenantId}}/chinese-guideline" target="_blank">{{"uploadproduct_modeling_guideline_usage" | translate}}</a>
                </div>
            </div>
        </div>

        <!-- Language and Branch options -->
        <div class="pull-right">
            <!-- language list -->
            <select class="language-select pull-right" ng-model="language" ng-options="l.name for l in languages track by l.code" ng-change="onLanguageChanged()"></select>
            <br/>
            <select ng-show="availableBranches.length > 0" class="pull-right" ng-model="branch" ng-options="l for l in availableBranches" ng-change="onBranchChanged()"></select>
        </div>

        <!-- Variation parameters -->
        <!-- status -->
        <div class="row" ng-show="!isManufacturerRole">
            <div class="col-md-2"><label>{{"uploadproduct_status" | translate}}</label></div>
            <div class="col-md-4">
                <select class="form-control"
                        ng-disabled="isManufacturerRole"
                        ng-model="status"
                        ng-options="s.description for s in statuses">
                </select>
            </div>
            <div class="col-md-3">
                <div id="statusDescription" class="help-block">{{statusDescriptionText | translate}}</div>
            </div>
        </div>

        <!-- Variation tag -->
        <div class="row">
            <div class="col-md-2"><label>{{"uploadproduct_variation_tag" | translate}}</label></div>
            <div class="col-md-4">
                <select class="form-control"
                ng-model="variationTag"
                ng-options="t.name for t in variationTagValues">
                </select>
            </div>
            <div class="col-md-3">
                <div id="statusDescription" class="help-block">{{statusDescriptionText | translate}}</div>
            </div>
        </div>

        <!-- name -->
        <div class="row">
            <div class="col-md-2"><label>{{"uploadproduct_name" | translate}}</label><span class="asterisk">*</span></div>
            <div class="col-md-4"><input type="text" ng-model="variationName" class="form-control" id="txtName"></div>
        </div>

        <!-- path -->
        <div class="row"  ng-show="!isManufacturerRole">
            <div class="col-md-2"><label class="unbold">{{"uploadproduct_path" | translate}}</label></div>
            <div class="col-md-4">
                <input type="text" ng-model="path" class="form-control">
            </div>
        </div>

        <!-- sku -->
        <div class="row">
            <div class="col-md-2"><label class="unbold">{{"uploadproduct_sku" | translate}}</label></div>
            <div class="col-md-4"><input type="text" ng-model="externalId" class="form-control"></div>
        </div>

        <!-- retailer -->
        <div class="row" ng-if="retailer">
            <div class="col-md-2"><label class="unbold">{{"uploadproduct_retailer" | translate}}</label></div>
            <div class="col-md-4">
                <select class="form-control" ng-model="retailer"
                ng-options="(r.name) for r in [retailer] ">
                    <option value="retailer.name"></option>
                </select>
            </div>
        </div>

        <!-- retailer url -->
        <div class="row" ng-if="retailer">
            <div class="col-md-2"><label class="unbold">{{"uploadprodcut_retailer_url" | translate}}</label></div>
            <div class="col-md-4"><input type="text" ng-model="retailer.url" class="form-control"
            id="txtRetailerUrl"></div>
            <div class="col-md-2">
                <button class="btn" ng-disabled="!retailer.url" ng-click="onGoToUrlClicked()">{{"uploadprodcut_go_to_url" | translate}}
                </button>
            </div>
        </div>

        <!-- files -->
        <div class="row files">
            <div class="col-md-2"><label>{{"uploadproduct_files" | translate}}</label><span class="asterisk">*</span></div>
            <div class="col-md-10" id="fileTable1">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-5">{{"uploadproduct_name" | translate}}</th>
                            <th class="col-md-1" ng-if-start="user.checkPermission(tenantId, AppModule.MenuProductAddEdit)"></th>
                            <th class="col-md-3">{{"uploadproduct_type" | translate}}</th>
                            <th class="col-md-2" ng-if-end>{{"uploadproduct_remove" | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="file in files" class="file-row">
                            <td>
                                <input class="form-control" ng-class="{'bold': file.uploadByUser}" type="text" ng-model="file.name"/>
                            </td>
                            <td ng-if-start="user.checkPermission(tenantId, AppModule.MenuProductAddEdit)"><a href="{{file.storageUrl}}" target="_blank" class="glyphicon glyphicon-download-alt"></a></td>
                            <td>
                                <select class="form-control" ng-model="file.metaData"
                                ng-options="b.metaData as b.name for b in fileTypes"
                                ng-disabled="cannotUpdateFiles()"></select>
                            </td>
                            <td ng-if-end>
                                <button class="btn-warning glyphicon glyphicon-remove pull-left" ng-click="onRemoveFileBtnClicked($index)"
                                ng-disabled="cannotUpdateFiles()"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn"  ng-if="user.checkPermission(tenantId, AppModule.MenuProductAddEdit)"
                ng-click="onUploadFileClicked()" id="btnFileAdd">
                    {{"uploadproduct_add" | translate}}
                </button>
            </div>
        </div>

        <!-- save -->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <button class="btn btn-success btn-block" ng-click="onSaveBtnClicked()" ng-disabled="loading">
                    {{loading ? "loading" : "uploadproduct_save" | translate}}
                </button>
            </div>
            <div class="col-md-2" ng-if="mode === EMode.eEdit">
                <button class="btn btn-danger btn-block" ng-click="onDeleteBtnClicked()">
                    {{"uploadproduct_delete" | translate}}
                </button>
            </div>
        </div>
    </div>

    <!-- upload file dialog. TODO: Make this common -->
    <div id="upload-file-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{"uploadproduct_add_file" | translate}}</h4>
                </div>
                <div class="modal-body">
                    <form id="file-upload-form">
                        <input class="btn" type="file" name="file1" value="Choose File"
                        onchange="angular.element ( this ).scope ( ).submitFileForm ( this.files[ 0 ] )">
                        <progress class="progress-upload-file"></progress>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="loading">{{"cancel" | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- confirmation dialog. TODO: Make this common -->
    <div id="confirmation-modal" class="modal fade" ng-model="confirmationPopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{confirmationPopup.title | translate}}</h4>
                </div>
                <div class="modal-body"><span>{{confirmationPopup.message | translate}}</span></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="loading">
                        {{confirmationPopup.cancelText | translate}}
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="confirmationPopup.onConfirm()"
                    ng-disabled="loading">{{confirmationPopup.okText | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

