<div class="products-search-section">

    <h1>{{"search_search_product" | translate}}</h1>

    <div class="curtain" ng-show="loading">
        <p>{{"loading" | translate}}</p>
    </div>

    <!-- search section -->
    <div class="search-strip">
        <form name="formSearch" class="form-inline" ng-submit="onSearchButtonClicked()" >
            <div class="row">
                <span class="col-md-12">
                    <span class="form-group">
                        <label>{{"search_free_text" | translate}}</label>
                        <input type="text" class="form-control" ng-model="searchParams.freeText" ng-disabled="loading" />
                    </span>
                    <span class="form-group categories">
                        <label>{{"search_category" | translate}}</label>
                        <select class="form-control" ng-model="searchParams.category" ng-options="category.displayName for category in availableCategories"></select>
                    </span>
                    <span class="form-group brands">
                        <label>{{"search_brand" | translate}}</label>
                        <select class="form-control" ng-model="searchParams.brand" ng-options="brand.name for brand in availableBrands"></select>
                    </span>
                    <span class="form-group">
        			    <label>{{"search_status" | translate}}:</label>
            		    <select class="form-control" ng-model="searchParams.status" ng-options="status.description for status in availableStatuses"></select>
        		    </span>

                    <span class="form-group branch" ng-show="showBranch">
        			    <label>{{"categorization_branch" | translate}}</label>
            		    <select class="form-control" ng-model="searchParams.branch" ng-options="l for l in availableBranches" ng-change="onBranchChange()"></select>
        		    </span>


                </span>
            </div>
            <div class="row">
                <span class="col-md-12">
                    <span class="form-group">
                        <label>{{"search_guid" | translate}}</label>
                        <input type="text" class="form-control" ng-model="searchParams.productGuid" ng-disabled="loading" />
                    </span>
                    <span class="form-group">
                        <label>{{"search_path" | translate}}</label>
                        <input type="text" class="form-control" ng-model="searchParams.productPath" ng-disabled="loading" />
                    </span>
                    <span class="form-group">
                        <label>{{"search_sku" | translate}}</label>
                        <input type="text" class="form-control" ng-model="searchParams.productSKU" ng-disabled="loading" />
                    </span>
                    <span class="form-group type">
                        <label>{{"search_type" | translate}}</label>
                        <select class="form-control" ng-model="searchParams.type" ng-options="type.name for type in availableTypes"></select>
                    </span>
                    <span class="form-group pull-right">
                        <button type="submit" class="btn btn-success" ng-disabled="loading">{{"search_search" | translate}}</button>
                    </span>
                </span>
            </div>
        </form>
    </div>

    <!-- products section -->
    <div class="row" ng-if="products">

        <!-- products list section -->
        <span class="col-md-7 products-results-box">
            <h4>
                <div>{{"search_products_search_results" | translate}} ({{totalProductsCount}})</div>
            </h4>

            <div class="pull-right">
                <label>{{"search_items_in_page" | translate}}</label>
                <select ng-model="productsPerPage.selected"
                ng-options="p for p in productsPerPage.options"
                ng-init="productsPerPage.selected=productsPerPage.options[0]"
                ng-change="onItemsOnPageChanged()"
                ng-disabled="isTreeDirty"></select>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th class="col-md-1">{{"search_image" | translate}}</th>
                    <th>{{"search_name" | translate}}</th>
                    <th>{{"search_contenttype" | translate}}</th>
                    <th>{{"search_status" | translate}}</th>
                    <th class="text-center">{{"search_variants" | translate}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pt in products" ng-click="onProductSelected($index)" ng-class="{loading: loading}"
                    uib-popover-template="'producttemplate.html'" popover-trigger="mouseenter" popover-placement="right" popover-title="{{pt.name}}">
                    <td><input type="radio" name="pt" value="pt.id" ng-disabled="formReferences.$dirty || loading" ng-checked="pt.id == selectedProduct.id"></td>
                    <td><img ng-src="{{pt.imageUrl}}"></td>
                    <td>{{pt.name}}</td>
                    <td>{{pt.typeStrings}}</td>
                    <td>{{pt.status}}</td>
                    <td class="text-center">{{numOfVariations(pt)}}</td>
                    <td class="edit">
                        <a href="#/{{tenantId}}/upload-product?guid={{pt.id}}" target="_blank" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                    </td>

                    <script id="producttemplate.html" type="text/ng-template"><table>
                        <tbody>
                          <tr><td>Post process status:&nbsp&nbsp</td><td>{{pt.postStatus}}</td></tr>
                          <tr><td>SKU:</td><td>{{pt.SKU}}</td></tr>
                          <tr><td>Brand:</td><td>{{pt.brand}}</td></tr>
                          <tr><td>Retailer:</td><td>{{pt.retailer}}</td></tr>
                          <tr><td>Retailer price:</td><td>{{pt.retailerPrice}}</td></tr>
                          <tr><td>Style:</td><td>{{pt.style}}</td></tr>
                          <tr><td>Is scalable:</td><td>{{pt.isScalable}}</td></tr>
                          <tr><td>Coupon type:</td><td>{{pt.couponType}}</td></tr>
                          <tr><td>Default height:</td><td>{{pt.defaultHeight}}</td></tr>
                          <tr><td>Category:</td><td>{{pt.category}}</td></tr>
                        </tbody>
                      </table>
                    </script>
                </tr>



                </tbody>
            </table>

                <!-- pagination -->
            <div class="center-block">
                <ul id="products-pagination" class="pagination-md"></ul>
            </div>
        </span>

        <span class="col-md-5">

            <!-- product references section -->
            <div class="row references-box">
                <form name="formReferences" ng-submit="saveReferences(formReferences)">
                    <div class="form-content clearfix" ng-if="selectedProduct">
                        <h4>{{"search_references" | translate}}</h4>
                        <ul>
                            <li ng-repeat="ref in selectedProduct.vReferences" class="form-inline">
                                <span class="form-group">
                                    <select class="form-control" data-ng-model="ref.name" data-ng-options="rn for rn in refNames" ng-disabled="loading"></select>
                                </span>
                                <span class="form-group">
                                    <input class="form-control" type="text" name="refValue" ng-model="ref.value" ng-disabled="loading" placeholder="value..." required>
                                </span>
                                <span class="form-group">
                                    <button class="glyphicon glyphicon-remove" ng-click="removeReference(formReferences, $index)" ng-disabled="loading"></button>
                                </span>
                            </li>
                        </ul>
                        <div class="btn-group pull-right">
                            <button class="btn" ng-disabled="!formReferences.$dirty || loading" ng-click="cancelChanges(formReferences)">{{"cancel" | translate}}</button>
                            <button type="submit" class="btn btn-success" ng-disabled="!formReferences.$dirty || loading">
                                {{"search_save" | translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- product log section -->
            <!-- note: the log won't be fetched (isLogFetched == false) if the user isn't authorized -->
            <div class="row log-box" ng-if="selectedProduct && selectedProduct.isLogFetched">
                <h4>{{"search_log" | translate}}</h4>
                <div ng-if="!selectedProduct.logs.length">{{"search_no_log_records" | translate}}</div>
                <ul id="product-log" ng-repeat="lg in selectedProduct.logs">
                    <li>
                        <span class="timestamp">[{{lg.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}]</span>
                        <span class="email">{{lg.user.email}}</span>
                    </li>
                </ul>
            </div>

        </span>
    </div>

</div>
