<div id="analytics-search" class="brands-section">

    <h1>The most searched keywords（最热门搜索关键字）</h1>

    <div class="form-upload-product">

    <div class="row">

        <div class="col-md-6"><!--<h3 id="keywordsTitle">Name</h3>--></div>

        <div class="col-md-1 col-md-offset-3"><input type="text" class="form-control" id="numOfResults" value="150"/></div>
        <button id="btn1" class="btn col-md-1" class="btn btn-primary btn-success">Show_显示</button>
    </div>
        </div>

    <!-- main area -->
    <div class="row main">
        <script src='appversion/libs/cloud/d3/d3.js'></script>
        <script src='appversion/libs/cloud/d3.layout.cloud.js'></script>
        <script>

        var fill = d3.scale.category20b();

            var svg = null;
            var layout = null;

            $( document ).ready(function() {
                $('#btn1' ).click(getKeywordsFromServer);
                getKeywordsFromServer();
            });


            function getKeywordsFromServer() {

                var numToShow = $('#numOfResults' ).val();
                var rootScope = angular.element('#analytics-search').scope().$parent;
                var jqxhr = $.get(rootScope.config.apiEndpoint+"/mw/analytics/?tenant=" + rootScope.tenantId + "&n=" + numToShow, function(data) {

                    var keywords1 = [];

                    var biggest = data.keywords[0].numOfSearches;
                    var length1 = data.keywords.length;

                    if (length1 < 25) {

                    $.each ( data.keywords, function ( index, keyword ) {
                        keywords1.push ( { text : keyword.keyword, size : ( length1 - index ) / length1 * 100 } ) ;
                    } ) ;
                    } else {
                    $.each ( data.keywords, function ( index, keyword ) {
                        keywords1.push ( {text: keyword.keyword, size: keyword.numOfSearches  } ) ;
                        //keywords1.push ( {text: keyword.keyword, size: (keyword.numOfSearches / biggest) * 100  } ) ;
                    } ) ;
                    }

                    makeCloud(keywords1);

                })
                .done(function() {
                //alert( "second success" );
                })
                .fail(function() {
                alert ( "error" ) ;
                })
                .always(function() {
                //alert ( "finished" ) ;
                });
            }


            function draw(words) {

                //svg != null ? svg.remove() : "";

                if (svg != null) {
                    d3.select("body" ).select("svg" ).remove();
                }

            svg = d3.select("body").append("svg")
            .attr( "width", 1600 )
            .attr ( "height", 1200 )
            .append ( "g" )
            .attr ( "transform", "translate(700,500)" )
            .selectAll ( "text" )
            .data ( words )
            .enter ( ).append ( "text" )
            .style ( "font-size", function ( d ) { return d.size + "px" ; } )
            .style ( "font-family", "Impact" )
            .style ( "fill", function ( d, i ) { return fill ( i ) ; } )
            .attr ( "text-anchor", "middle" )
            .attr ( "transform", function ( d ) {
            return "translate(" +[ d.x, d.y ] + ")rotate(" + d.rotate + ")" ;
            } )
            .text ( function ( d ) { return d.text ; } );

            }



            function makeCloud(keywords) {
            layout = d3.layout.cloud().size([1600, 1200])
            /*.words([
            "Hello", "world", "normally", "you", "want", "more", "words",
            "than", "this"].map(function(d) {
            return {text: d, size: 10 + Math.random() * 90};
            }))*/
            .words(keywords)
            .padding(2)
            //.rotate(function() { return ~~(Math.random() * 2) * 90; })
            .font("Impact")
            .fontSize(function(d) { return d.size; })
            .on("end", draw)
            .start();
            }


        </script>
    </div>


</div>
