<div class="users-section">

    <h1>{{"users_users" | translate}}</h1>

    <div class="curtain" ng-if="!isPageDataLoaded">
        <p>{{"loading" | translate}}</p>
    </div>

    <!--@* users table *@-->
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th class="col-md-4">{{"users_users" | translate}}</th>
                <th class="col-md-4">{{"users_tenants" | translate}}</th>
                <th class="col-md-2">{{"users_roles" | translate}}</th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td><span>{{ user.email }}</span></td>
                <td>
                    <span editable-select="user.tenants" e-name="tenant" e-multiple e-form="rowform" e-ng-options="v.tenantId as v.tenantId for v in tenants">
                        {{ user.role == 'admin' ? '' : (user.tenants.length > 0 ? user.tenants.toString().split(',').join(', ') : 'no tenant') }}
                    </span>

                </td>
                <td>
                    <span editable-select="user.role" e-name="role" e-form="rowform" e-ng-options="v.name as v.name for v in roles">
                        {{ user.role }}
                    </span>
                </td>
                <td>
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="saveUser($data, user)" ng-show="rowform.$visible" class="form-buttons form-inline pull-right">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">{{"users_save" | translate}}</button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">{{"cancel" | translate}}</button>
                    </form>
                    <div class="buttons pull-right" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="rowform.$show()">{{"users_edit" | translate}}</button>
                        <button class="btn btn-danger" ng-click="deleteUser($index, user)"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td><td></td><td></td>
                <td>
                    <button type="button" class="btn btn-primary pull-right" ng-click="openDialog()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!--@* add user dialog *@-->
    <div id="add-user-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{"users_add_user" | translate}}</h4>
                </div>
                <form name="userForm" role="form" ng-submit="onSubmit()">
                    <div class="modal-body text-center">
                        <div class="row form-group">
                            <input type="email" ng-model="formData.email" name="email" placeholder="{{'users_email_address' | translate}}" ng-pattern="/^[A-Za-z0-9]+[\._A-Za-z0-9-]*@[A-Za-z0-9]+[\._A-Za-z0-9-]*\.[A-Za-z]{2,}$/" required autofocus>
                            <span class="error" ng-show="userForm.email.$error.pattern">{{"users_correct_format" | translate}}: test@test.com</span>
                        </div>
                        <div class="row form-group">
                            <input type="password" name="password1" ng-model="formData.password1" ng-minlength="6" placeholder="{{'users_password' | translate}}" required>
                            <span class="error" ng-show="userForm.password1.$error.minlength">{{"users_at_least" | translate}}</span>
                        </div>
                        <div class="row form-group">
                            <input type="password" name="password2" ng-model="formData.password2" ng-minlength="6" placeholder="{{'users_reenter_password' | translate}}" required>
                            <span class="error" ng-show="userForm.password2.$error.minlength">{{"users_at_least" | translate}}</span>
                        </div>
                        <div class="form-group has-error" ng-disabled="!errorMessage">
                                <label class="control-label" for="inputError">{{errorMessage}}</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="posting">{{"cancel" | translate}}</button>
                        <button type="submit" class="btn btn-primary" ng-disabled="userForm.email.$error.pattern || userForm.password1.$error.minlength || userForm.password2.$error.minlength || posting">{{"users_save" | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>



