<div class="edit-tenant-section">

    <h1>{{"tenantedit_settings" | translate}}</h1>
    <div class="row">
        <span class="col-md-4">
            <div>
                <label>{{"tenantedit_name" | translate}} </label>
                <a href editable-text="tenant.name" onbeforesave="checkName($data)">{{ tenant.name || 'empty' }}</a>
            </div>
            <form id="edit-tenant-form" ng-submit="onEditTenantSubmitted()">
                <div>
                    <label>{{"tenantedit_current_icon" | translate}} </label>
                    <div>
                        <img ng-if="tenant.iconUrl" ng-src="{{tenant.iconUrl + extTimestamp}}" width="15%">
                    </div>
                    <label>{{"tenantedit_new_icon" | translate}} </label>
                    <img ng-if="cIconUrl" ng-src="{{cIconUrl? (s3IconPathTenant + cIconUrl + '.png') : null}}" width="15%">
                    <input type="file" name="iconFile" value="Choose File" accept="image/x-png" onchange="return angular.element(this).scope().submitIconForm(this)">
                    <progress class="progress-upload-icon"></progress>
                </div>
                <button type="submit" class="btn btn-success" ng-disabled="!tenantChanged || saving">{{"tenantedit_save" | translate}}</button>
                <div ng-if="saving">
                    <span class="label label-info">{{actionTip}}</span>
                </div>
            </form>
        </span>
    </div>
</div>
