<div class="add-package-to-tenant-section">

    <h1>{{"addpackage_add_package_to_tenant" | translate}}</h1>

    <div class="row">
        <!--<span class="col-md-4">-->
            <form name="formAddPackage" ng-submit="onAddPackageSubmitted()" >
                <div class="row">
                    <div class="col-md-2"><label>{{"addpackage_package_name" | translate}}</label></div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="formData.packageName" ng-disabled="loading" required="true"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label>{{"addpackage_from_tenant" | translate}}</label></div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="formData.fromTenant" ng-disabled="loading" required="true"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label>{{"addpackage_to_tenant" | translate}}</label></div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="formData.toTenant" ng-disabled="loading" required="true"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label>{{"addpackage_password" | translate}}</label></div>
                    <div class="col-md-4">
                        <input type="password" class="form-control" ng-model="formData.password" ng-disabled="loading" required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label>Guids:</label>
                    <textarea type="text" class="form-control" ng-model="formData.guids" ng-disabled="loading" required="true"></textarea>
                </div>
                <button type="submit" class="btn btn-success" ng-disabled="loading">{{"addpackage_do_it" | translate}}</button>
                <p class="help-block" ng-if="loading">{{"addpackage_tip" | translate}}</p>
            </form>
            <label class="center-block">{{"addpackage_or" | translate}}</label>
            <form name="addFile" ng-submit="onAddFileSubmitted()">
                <div class="row">
                    <div class="col-md-2"><label>{{"addpackage_upload_csv" | translate}} </label> </div>
                    <div class="col-md-4">
                        <input type="file" name="csvFile" ng-disabled="loading" value="Choose File" accept=".csv" required onchange="return angular.element(this).scope().onSubmitCSV(this)">
                    </div>
                    <div class="col-md-2"><label>{{"addpackage_max_product" | translate}}</label> </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label>{{"addpackage_to_tenant" | translate}}</label></div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="formData.toTenant" ng-disabled="loading" required="true"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label>{{"addpackage_password" | translate}}</label></div>
                    <div class="col-md-4">
                        <input type="password" class="form-control" ng-model="formData.password" ng-disabled="loading" required="true"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-success" ng-disabled="loading">{{"addpackage_do_it" | translate}}</button>
                <p class="help-block" ng-if="loading">{{"addpackage_tip" | translate}}</p>
            </form>
    </div>

    <br/>

    <div class="row" ng-if="notEmpty(succeededCategory)">
        <label ng-bind="succeededCategory"></label>
    </div>
    <div class="row" ng-if="notEmpty(failedCategory)">
        <label ng-bind="failedCategory"></label>
    </div>
    <div class="row" ng-if="notEmpty(succeededProducts)">
        <label ng-bind="succeededProducts"></label>
    </div>
    <div class="row" ng-if="notEmpty(failedProducts)">
        <label ng-bind="failedProducts"></label>
    </div>
    <div class="row" ng-if="notEmpty(existingProducts)">
        <label ng-bind="existingProducts"></label>
    </div>
    <div class="row" ng-if="notEmpty(notFoundProducts)">
        <label ng-bind="notFoundProducts"></label>
    </div>
    <div class="row" ng-if="notEmpty(invalidGUIDs)">
        <label ng-bind="invalidGUIDs"></label>
    </div>
</div>
