<!DOCTYPE html>

<html ng-app="robinApp">
<head>

    <title>Admin-{{tenantId}}</title>

    <link rel="shortcut icon" type="image/png" href='appversion/res/images/favicon.ico'>

    <link rel="stylesheet" media="screen" href='appversion/res/stylesheets/googlefonts-roboto.css'>
    <link rel="stylesheet" media="screen" href='appversion/libs/bootstrap-3.1.1/css/bootstrap.css'>
    <link rel="stylesheet" media="screen" href='appversion/libs/jquery.dynatree-1.2.5/skin-vista/ui.dynatree.css'>
    <link rel="stylesheet" media="screen" href='appversion/libs/angular-xeditable-0.1.8/css/xeditable.css'>
    <link rel="stylesheet" media="screen" href='appversion/res/stylesheets/googlefonts-open-sans.css'>
    <link rel="stylesheet/less" media="screen" href='appversion/res/stylesheets/main.less'>
    <link rel="shortcut icon" type="image/png" href='appversion/res/images/favicon.png'>


    <script type="text/javascript" src="appversion/libs/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src='appversion/libs/bootstrap-filestyle.min.js'></script>
    <script type="text/javascript" src="appversion/libs/bootstrap-3.1.1/js/bootstrap.min.js"></script>
    <script src='appversion/libs/less-1.7.0.min.js' type="text/javascript"></script>

    <!-- AngularJS and plugins-->
    <script src="appversion/libs/angular-1.4.8/angular.js" type="text/javascript"></script>
    <script src="appversion/libs/angular-1.4.8/angular-route.js" type="text/javascript"></script>
    <script src="appversion/libs/angular-1.4.8/angular-cookies.js" type="text/javascript"></script>
    <script src='appversion/libs/angular-translate-2.8.1/angular-translate.js' type="text/javascript"></script>
    <script src="appversion/libs/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="appversion/libs/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="appversion/libs/angular-dynamic-locale-0.1.29/src/tmhDynamicLocale.js"></script>
    <script src="appversion/libs/angular-translate-handler-log-2.8.1/angular-translate-handler-log.js"></script>
    <script src="appversion/libs/angular-translate-loader-static-files-2.8.1/angular-translate-loader-static-files.js"></script>

    <script type="text/javascript" src="appversion/libs/bootstrap-3.1.1/js/ui-bootstrap-tpls-1.3.2.min.js"></script>

    <!--TODO: Need to remove the unused libraries below-->
    <script src='appversion/libs/jquery-ui.min.js' type="text/javascript"></script>
    <script src='appversion/libs/jquery.cookie.js' type="text/javascript"></script>
    <script src='appversion/libs/jquery.dynatree-1.2.5/jquery.dynatree.min.js' type="text/javascript"></script>
    <script src='appversion/libs/jquery.twbsPagination.min.js' type="text/javascript"></script>
    <script src='appversion/libs/spin.js' type="text/javascript"></script>
    <script src='appversion/libs/angular-xeditable-0.1.8/js/xeditable.min.js' type="text/javascript"></script>
    <script src='appversion/libs/moment.js' type="text/javascript"></script>
    <script src='appversion/libs/moment-timezone-with-data-2010-2020.js' type="text/javascript"></script>
    <script src='appversion/libs/papaparse.min.js' type="text/javascript"></script>

    <!-- the core libraries -->
    <script src='appversion/app/core/config.js' type="text/javascript"></script>
    <script src='appversion/app/core/utility.js' type="text/javascript"></script>
    <script src='appversion/app/core/enums.js' type="text/javascript"></script>
    <script src='appversion/app/core/role.js' type="text/javascript"></script>

    <!-- the app framework files based on AngularJs -->
    <script src='appversion/app/app.js' type="text/javascript"></script>
    <script src='appversion/app/config.js' type="text/javascript"></script>
    <script src='appversion/app/main.js' type="text/javascript"></script>
    <script src='appversion/app/route.js' type="text/javascript"></script>

    <!-- filters -->
    <script src='appversion/app/filters/status.js' type="text/javascript"></script>

    <!-- services -->
    <script src='appversion/app/services.js' type="text/javascript"></script>
    <script src="appversion/app/services/storage.js"></script>
    <script src='appversion/app/services/pageData.js' type="text/javascript"></script>
    <script src='appversion/app/services/product.js' type="text/javascript"></script>
    <script src='appversion/app/services/auth.js' type="text/javascript"></script>
    <script src="appversion/app/services/locale.js" type="text/javascript"></script>
    <script src="appversion/app/services/io/product.js" type="text/javascript"></script>
    <script src="appversion/app/services/io/family.js" type="text/javascript"></script>
    <script src="appversion/app/services/io/tenant.js" type="text/javascript"></script>
    <script src="appversion/app/services/io/retailer.js" type="text/javascript"></script>
    <script src="appversion/app/services/io/brand.js" type="text/javascript"></script>
    <script src="appversion/app/services/io/attribute.js" type="text/javascript"></script>
    <script src="appversion/app/services/io/category.js" type="text/javascript"></script>

    <!-- directives -->
    <script src="appversion/app/directives/LanguageSelectionDirective.js"></script>

    <!-- components -->
    <script src='appversion/app/components/navbar/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/category/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/signup/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/login/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/attributes/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/upload-product/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/variation/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/search/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/families/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/searchFamily/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/editFamily/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/products-categorization/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/retailers/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/analyticssearch/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/brand/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/tenant-edit/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/users/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/tenant-create/controller.js' type="text/javascript"></script>
    <script src='appversion/app/components/tenant-add-package/controller.js' type="text/javascript"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53562295-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>

    <div ng-include="'appversion/app/components/navbar/view.html'"></div>
    <div ng-view class="container"></div>
    <!-- bootstrap modal dialog -->
    <div id="modal-common" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body"><p></p></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"></button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
